<!DOCTYPE HTML>
<html>
	<head>
			<meta http-equiv="content-type" content="text/html; charset=utf-8" />
			<title><%= get_setting_value('PROJECT_NAME') %></title>
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="description" content="<%= get_setting_value('PROJECT_MOTTO') %>">
		    <meta name="author" content="<%= get_setting_value('PROJECT_AUTHOR')%>">
    		<meta name="keywords" content="" />
	  		<%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Royal Preloader CSS -->
        <link href="css/royal_preloader.css" rel="stylesheet">

        <!-- jQuery Files -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <!-- Parallax File -->
        <script type="text/javascript" src="js/parallax.min.js"></script>

        <!-- Royal Preloader -->
        <script type="text/javascript" src="js/royal_preloader.min.js"></script>

        <script type="text/javascript">
            Royal_Preloader.config({
                mode:           'number',
                showProgress:   false,
                background:     '#1d1d1d'
            });
        </script>

        <!-- Stylesheets -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/ionicons.min.css" rel="stylesheet">
        <link href="css/pe-icon-7-stroke.css" rel="stylesheet">
        <link href="css/magnific-popup.css" rel="stylesheet">
        <link href="css/logoiconfont.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" title="main-css">

        <!-- Style Switcher / remove for production -->
        <link href="css/style-switcher.css" rel="stylesheet">

        <!-- Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above -->
        <link rel="alternate stylesheet" type="text/css" href="css/colors/blue.css" title="blue">
        <link rel="alternate stylesheet" type="text/css" href="css/colors/green.css" title="green">
        <link rel="alternate stylesheet" type="text/css" href="css/colors/orange.css" title="orange">
        <link rel="alternate stylesheet" type="text/css" href="css/colors/red.css" title="red">
        <link rel="alternate stylesheet" type="text/css" href="css/colors/orangelight.css" title="orangelight">
        <link rel="alternate stylesheet" type="text/css" href="css/colors/pinkish.css" title="pinkish">
        <link rel="alternate stylesheet" type="text/css" href="css/colors/seagul.css" title="seagul">
        <link rel="alternate stylesheet" type="text/css" href="css/base-light.css" title="base-light">

      <%= yield :javascript_includes %>
      <%= yield :head %>
	</head>

  <body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
  <div id="royal_preloader"></div>

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title><%= get_setting_value('PROJECT_NAME') %></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <meta name="description" content="<%= get_setting_value('PROJECT_MOTTO') %>">
    <meta name="author" content="<%= get_setting_value('PROJECT_AUTHOR')%>">
    <meta name="keywords" content="<%= get_setting_value('PROJECT_KEYWORDS')%>" />

    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'users' %>

    <%= javascript_include_tag 'devise' %>
    <%= csrf_meta_tags %>

    <%= yield :javascript_includes %>

    <%= yield :head %>
    <script>
        $( document ).ready(function() {

            $( document ).submit(function() {
                //$('#spinner').removeClass('none');
                $('.imagelogo').addClass('animated rotateIn');
            });
            $('#signup-link').click(function() {
                //$('#spinner').removeClass('none');
                $('.imagelogo').addClass('animated rotateIn');
            });
            $('#unlock-link').click(function() {
                //$('#spinner').removeClass('none');
                $('.imagelogo').addClass('animated rotateIn');
            });
            $('#login-link').click(function() {
                //$('#spinner').removeClass('none');
                $('.imagelogo').addClass('animated rotateIn');
            });
            $('#forgot-link').click(function() {
                //$('#spinner').removeClass('none');
                $('.imagelogo').addClass('animated rotateIn');
            });
            $('#signup-link').click(function() {
                //$('#spinner').removeClass('none');
                $('.imagelogo').addClass('animated rotateIn');
            });
            $('#confirm-link').click(function() {
                //$('#spinner').removeClass('none');
                $('.imagelogo').addClass('animated rotateIn');
            });
            $('#activation-link').click(function() {
                //$('#spinner').removeClass('none');
                $('.imagelogo').addClass('animated rotateIn');
            });

        });
    </script>
    <style>
      .minicons{
        margin-left:-30px;
        margin-top:12px;
      }
      .settings-item{
        padding-top:4px;
        padding-bottom:4px;
        height:42px;
        border-bottom:1px solid grey;
      }

      .settings-item:hover{
        background-color:#2D3736;

      }

      .counter-received{
        z-index:9999;
        margin-left:-30px;

      }

      .counter-sent{
        z-index:9999;
        margin-left:-40px;
      }
      .onoff{
        margin-right:7px;
      }
      .d4xlist{
        background-color:#FFFFFF;
        border-bottom:grey;
        width:100%;
        height:30px;
      }
      .chat-avatara{
        margin-left:5px;
      }
      #message_content{
        height:150px;
        padding-right:10px;
        padding-left:10px;
        background-color:white;
        color:black;
        font-size:14px;
        font-family: arial;
      }
      #daily_tip{
        height:120px;
        padding-right:10px;
        padding-left:10px;
        background-color:white;
        color:black;
        font-size:14px;
        font-family: arial;
      }
      i {
        color:grey;
      }
      i:hover {
        cursor:pointer;
        color:darkgrey;
      }
      .count-sent{
        margin-left:10px;
        margin-top:10px;
      }
      .white{
        color:white;
      }
      #findthis{
        min-width:210px;
        max-width:210px;
        border-bottom-left-radius:15px;
        border-top-left-radius:15px;
        border-left:2px solid white;
        border-top:2px solid white;
        border-bottom:2px solid white;
        background-color:#051A5D;
        color:white;
        z-index:2000;
      }

      #searchbox{
        margin-top:10px;
        margin-left:-20px;

      }

      #icon-reveal{
        margin-right:-20px;
      }

      #ccthumb{
        width:64px;
      }
      .thumb-custom{
        height:48px;
        width:48px;
        border-radius:3px;

      }

      .tt-suggestion{
        margin-left:10px;
      }
      .motto{
        color:white;
        margin-top:-14px;
      }
      .tt-dropdown-menu{
        background-color:white;
        border:1px solid #D7D7D7;
        box-shadow: 2px 2px 2px solid grey;
        border-radius:3px;
        text-align:left;
        width:100%;
        font-size:14px;
      }

      #search-submit{
        margin-top:-5px;
        border-bottom-right-radius:15px;
        border-top-right-radius:15px;
        border-right:2px solid white;
        border-top:2px solid white;
        border-bottom:2px solid white;
        border-left:0px;
        height:30px;
        z-index:3000;
      }

      .ttt{
        width:220px;
        margin-top:10px;
        background-color:#white;
        color:#4231A3;
        border-style:none;
        font-size:14px;
      }
      .imagelogo{
        margin-left:0px;
      }
      #icon-compose{
        margin-right:20px;
        margin-top:10px;
        color:white;
      }
      #icon-compose:hover{
        color:yellow;
      }
      #logolink{
        margin-top:-5px;
        margin-left:0px;
        font-size:36px;
        font-family: Impact;
        font-stretch:expanded;
        color:white;
      }
      #user_nickname,
      #user_email,
      #user_firstname,
      #user_password_confirmation,
      #user_password{
        background-color:#0B4D8F;
        border:2px solid white;
        color:yellow;
      }
      .footer.zerozerofixed {
        position: fixed;
        margin-top:0px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background:white;
        height:45px;
        border-top: 1px solid grey;

      }
      .none{
        display:none;
      }
      #spinner{
        margin-top:10px;
        margin-left:-20px;
      }
      #main_logo{
        margin-left:-20px;
      }

    </style>
  </head>
  <body>
  <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
    <%= yield %>
  </div>
  <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
  <%= yield :javascript %>
  </body>
  </html>