<!DOCTYPE HTML>
<html>
	<head>
			<meta http-equiv="content-type" content="text/html; charset=utf-8" />
			<title><%= get_setting_value('PROJECT_NAME') %></title>
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		    <meta name="description" content="<%= get_setting_value('PROJECT_MOTTO') %>">
		    <meta name="author" content="<%= get_setting_value('PROJECT_AUTHOR')%>">
    		<meta name="keywords" content="" />

  			<%= csrf_meta_tags %>

        <%= javascript_include_tag 'application' %>

        <!-- Royal Preloader CSS -->
        <%= stylesheet_link_tag 'css/royal_preloader.css' %>

        <!-- Parallax File -->
        <%= javascript_include_tag 'js/parallax.min.js' %>

        <!-- Royal Preloader -->
        <%= javascript_include_tag 'js/royal_preloader.min.js' %>

        <script type="text/javascript">
            Royal_Preloader.config({
                mode:           'number',
                showProgress:   false,
                background:     '#1d1d1d'
            });
        </script>

        <!-- Stylesheets -->
        <%= stylesheet_link_tag 'css/bootstrap.min.css' %>
        <%= stylesheet_link_tag 'css/ionicons.min.css' %>
        <%= stylesheet_link_tag 'css/pe-icon-7-stroke.css' %>
        <%= stylesheet_link_tag 'css/magnific-popup.css' %>
        <%= stylesheet_link_tag 'css/logoiconfont.css' %>
        <%= stylesheet_link_tag 'css/style.css',:title=> 'main-css' %>


        <!-- Style Switcher / remove for production -->
        <%= stylesheet_link_tag 'css/style-switcher.css' %>

        <!-- Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above -->

        <%= stylesheet_link_tag 'css/colors/blue.css',:title=> 'blue' %>
        <%= stylesheet_link_tag 'css/colors/green.css',:title=> 'green' %>
        <%= stylesheet_link_tag 'css/colors/orange.css',:title=> 'orange' %>
        <%= stylesheet_link_tag 'css/colors/red.css',:title=> 'red' %>
        <%= stylesheet_link_tag 'css/colors/orangelight.css',:title=> 'orangelight' %>
        <%= stylesheet_link_tag 'css/colors/pinkish.css',:title=> 'punkish' %>
        <%= stylesheet_link_tag 'css/colors/seagul.css',:title=> 'seagul' %>
        <%= stylesheet_link_tag 'css/base-light.css',:title=> 'base-light' %>

        <%= yield :javascript_includes %>
        <%= yield :head %>
	</head>

  <body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
    <%= yield %>
    rails generate task jekyll  </body>

</html>