<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= get_setting_value('PROJECT_NAME') %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= get_setting_value('PROJECT_MOTTO') %>">
  <meta name="author" content="<%= get_setting_value('PROJECT_AUTHOR')%>">
  <meta name="keywords" content="<%= get_setting_value('PROJECT_KEYWORDS')%>" />

  <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

  <!-- Main css styles -->
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- Main javascript files -->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= yield :javascript_includes %>

  <%= javascript_include_tag "bootbox" %>
  <%= javascript_include_tag "bootstrap-maxlength" %>
  <%= javascript_include_tag "jquery.tablecloth" %>
  <%= javascript_include_tag "jquery.tablesorter" %>
  <%= javascript_include_tag 'modernizr' %>
  <%= javascript_include_tag 'typeahead.bundle.min' %>
  <%= javascript_include_tag 'tinymce/tinymce.min' %>

  <% stylesheet_link_tag "bootstrap" %>
  <% stylesheet_link_tag "tablecloth" %>
  <% stylesheet_link_tag "prettify" %>

  <% stylesheet_link_tag "typeaheadjs" %>
  <% stylesheet_link_tag "navbar-violet" %>

  <%= stylesheet_link_tag "bootstrap.icon-large-grey" %>
  <%= stylesheet_link_tag "bootstrap.icon-large-red" %>
  <%= stylesheet_link_tag "bootstrap.icon-large-blue" %>
  <%= stylesheet_link_tag "bootstrap.icon-large-green" %>
  <%= stylesheet_link_tag "bootstrap.icon-large-yellow" %>
  <%= stylesheet_link_tag "bootstrap.icon-large-violet" %>
  <%= stylesheet_link_tag "bootstrap.icon-large-cyan" %>
  <%= stylesheet_link_tag "chat" %>

  <script language="JavaScript">

    $( document ).ready(function() {

      $('#areaaa').change(function(){
        $('#area').val($('#areaaa').val());
      });

      var loadResults = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: '/complete?area='+$('#area').val()+'&this=%QUERY'
      });

      loadResults.initialize();

      $('#remote .typeahead').typeahead(null, {
        name: 'results-list',
        displayKey: 'result',
        hint: true,
        highlight: true,
        minLength: 1,
        source: loadResults.ttAdapter()
      });

    });
  </script>
  <%= yield :head %>
</head>

<body class="pace-done pace-done skin-1">
<!-- Skin configuration box -->
<%= render 'layouts/skinconfig' %>

<!-- Wrapper-->
<div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

  <!-- Navigation -->
  <%= render 'layouts/navigation' %>

  <!-- Page wraper -->
  <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

    <!-- Page wrapper -->
    <%= render 'layouts/topnavbar' %>

    <% if not flash[:notice].blank? %>
        <script language="JavaScript">
          toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "4000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
          }
          toastr.success('<%= flash[:notice].to_s %>','<%= "Notice" %>');
        </script>
    <% end %>

    <% if not flash[:alert].blank? %>
        <script language="JavaScript">
          toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "4000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
          }
          toastr.warning('<%= flash[:alert].to_s %>','<%= "Warning" %>');
        </script>
    <% end %>

    <% if not flash[:error].blank? %>
        <script language="JavaScript">
          toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "4000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
          }
          toastr.error('<%= flash[:error].to_s %>','<%= "Error" %>');
        </script>
    <% end %>

    <!-- Main view  -->
    <%= yield %>

    <!-- Footer -->
    <% render 'layouts/footer' %>

  </div>
  <!-- End page wrapper-->

  <!-- Right sidebar -->
  <%= render 'layouts/rightsidebar' %>

</div>
<!-- End wrapper-->

<!-- Include javascript per-controller - vendor plugins -->
<%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

<!-- Include javascript per-view -->
<!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
<%= yield :javascript %>

</body>
</html>
