<h4 class="card-title lightlime"><i class="zmdi zmdi-present-to-all lightlime"></i>  <%= t('revealing encrypted message')%></h4>
<h6 class="card-subtitle"><%= t('the message has been destroyed')%></h6>
<% if @sender_id.present? and @target_id.present? %>
    <% @target = User.find(@target_id) %>
    <div id="sender">
      <div class="row">
        <div class="col-sm-3 col-xs-3">
          <% if @sender.avatar(:thumb).present? %>
              <img class="round3" src="<%= @sender.avatar.url(:thumb) %>" alt="" width="60">
          <% else %>
              <img class="round3" src="/assets/demo/img/profile-pics/1.jpg" width="60" alt="">
          <% end %>
        </div>
        <div class="col-sm-3 col-xs-3" align="left">
          <div class="row"><a href="#"><%= user_fullname(@sender_id) if @sender_id.present? %>
            <br />@<%= user_nick(@sender_id) if @sender_id.present? %></a></div>
        </div>
        <div class="col-sm-3 col-xs-3">
          <div class="row">
            </span class="white"><%= @sent_at.to_s(:short) %></span>
            <br />
            <span class="white"><%= time_ago_in_words(@sent_at) %>&nbsp;<%= t('ago') %></span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-3 right">
          <% if @target.avatar(:thumb).present? %>
              <img class="round3" src="<%= @target.avatar.url(:thumb) %>" alt="" width="60">
          <% else %>
              <img class="round3" src="/assets/demo/img/profile-pics/1.jpg" width="60" alt="">
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <br />
          <h5 class="center" id="decrypted">
            <%= @content if @content.present? %>
          </h5>
        </div>
      </div>
      <br>
      <% if @efile.present? %>
          <div class="row">
            <div class="col-sm-12 col-xs-12" align="center">
              <% if @efile.original_content_type == 'image/jpeg' or @efile.original_content_type == 'image/png' or @efile.original_content_type == 'image/gif' %>
                  <%= link_to image_tag(@efile.original.url(),:width=>'150px'), @efile.original.url() %>
                  <br />
              <% else %>
              <span class="btn btn-dark block full-width m-b" id="download-attachment">
                <%= t('attachment')%>&nbsp;<%= link_to @efile.original_file_name, @efile.original.url() %>
              </span>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
<br>
 <div class="row">
	<div class="col-sm-12 col-xs-12">
    	<span class="btn btn-dark block full-width m-b">
    		<%= t('the message has been destroyed')%>
 		</span>
	</div>
</div>