<script language="JavaScript">
    $( document ).ready(function() {
        $('#main-menu-messages').addClass("navigation__sub--active navigation__sub--toggled");
        $('#menu-compose').removeClass("navigation__sub").addClass("navigation__active");

        $('.tt-dataset-results-list').click(function() {
            var name = $(this).val();
        });
    });
</script>
<style>
	.none{
		display:none;
	}
	#message_efile
	{
		background-color:black;
		border: 2px solid #4F6260;
		border-radius: 3px;
		color:lime;
		font-size:12px;
		height:80px;
	}

	#remote{
		
	}
	.tt-suggestions,
	.tt-suggestion{
		color:yellow;
	}
	.tt-dropdown-menu{
		background-color:trasparent;
		color:yellow;
		border:none;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
	}
	.none{
		display:none;
	}
	.orange{
		color:orange;
	}
	.lime{
		color:lime;
	}
	.red{
		color:red;
	}
	#spinner{
		margin-top:10px;
		margin-left:-20px;
	}
	#target_name{
		margin-left:7px;
		background-color:#001100;
		border:0px solid white;
		color:yellow;
		border-radius:3px;
		width:93%;
	}

	.minicons{
		border:0px solid white;
		
	}
	.shipgrey{
		background-color:#4F6260;
		border: 2px solid darkgrey;
	}
	
	.d4xsearch{
		margin-left:0px;
		border-right:1px solid grey;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    border-left:1px solid grey;
		color:yellow;
		border-top-right-radius:3px;
		border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
		width:auto;

    background-color: transparent;


	}
  .tt-dropdown-menu{
    margin-left: 0px;
  }
	
	#execute,
	#anti-shoulder-on,
	#add-attachment,
	#add-shared-pass,
	#anti-shoulder-on,
	#change-keyss,
	#anti-shoulder-off,
	#shoulders{
		margin-top:10px;
		margin-left:0px;
		border-top-left-radius:0px;
		border-bottom-left-radius:0px;
	}
	#external-user{
		margin-top:10px;
		margin-left:0px;
		border-radius:0px;
	}
	#internal-user{
		margin-top:10px;
		margin-left:0px;
		border-top-left-radius:0px;
		border-bottom-left-radius:0px;
	}
    #message_content{
      background-color:transparent;
      color: lightgreen;
      border-radius: 3px;
      font-family: monospace;
    }
</style>
<script language="JavaScript">
     $( document ).ready(function() {
     	$('#change-keys').click(function() {
 			$('#gen-keys-div').removeClass('none');
 			$('#skey-div').removeClass('none');
 			$('#pkey-div').removeClass('none');
 			$('#key-size-div').removeClass('none');
 			$('#time-div').removeClass('none');
 			$('#return-div').removeClass('none');
 			$('#return-to-message').removeClass('none');
 			$('#compose-div').addClass('none');
 			return false;
 		});
 		$('#change-keyss').click(function() {
 			$('#gen-keys-div').removeClass('none');
 			$('#skey-div').removeClass('none');
 			$('#pkey-div').removeClass('none');
 			$('#key-size-div').removeClass('none');
 			$('#time-div').removeClass('none');
 			$('#return-div').removeClass('none');
 			$('#return-to-message').removeClass('none');
 			$('#compose-div').addClass('none');
 			return false;
 		});
 		
 		$('#return-to-message').click(function() {
 			$('#gen-keys-div').addClass('none');
 			$('#skey-div').addClass('none');
 			$('#pkey-div').addClass('none');
 			$('#return-div').addClass('none');
 			$('#compose-div').removeClass('none');
 			$('#time-div').addClass('none');
 			$('#key-size-div').addClass('none');
 			$('#return-to-message').addClass('none');
 			return false;
 		});
 		$('#add-attachment').click(function() {
 			$('#attachment-div').toggle();
 			$('#add-attachment-icon').attr('color','lime');
 			return false;
 		});
 		$('#anti-shoulder-off').click(function() {
 			$('#gen-keys-div').addClass('none');
 			$('#skey-div').addClass('none');
 			$('#pkey-div').addClass('none');
 			$('#return-div').addClass('none');
 			$('#search-div').addClass('none');
 			$('#time-div').addClass('none');
 			$('#key-size-div').addClass('none');
 			$('#return-to-message').addClass('none');
 			
 			$('#shared-pass-div').addClass('none');
 			
 			return false;
 		});
 		
 		$('#anti-s-off').click(function() {
 			$('#destination-div').addClass('none');
 			$('#input-div').addClass('none');
 			$('#sendmsg').addClass('none');
 			$('#external-icon').addClass('none');
			$('#internal-icon').addClass('none');
			$('#change-key-icon').addClass('none');
			$('#add-attachment-icon').addClass('none');
			$('#execute-icon').addClass('none');
			$('#content-div').addClass('none');
			
			$('#anti-shoulder-on').removeClass('none');
			$('#anti-s-off').addClass('none');
			$('#shared-pass-div').addClass('none');
 		
			$('#anti-s-on').removeClass('white').addClass('red');
 			return false;
 		});
 	
 		$('#anti-s-on').click(function() {
 			$('#destination-div').removeClass('none');
 			$('#input-div').addClass('none');
 			$('#sendmsg').removeClass('none');
 			$('#external-icon').removeClass('none');
			$('#internal-icon').removeClass('none');
			$('#change-key-icon').removeClass('none');
			$('#add-attachment-icon').removeClass('none');
			$('#execute-icon').removeClass('none');
			$('#content-div').removeClass('none');
			
			$('#attachment-div').addClass('none');
			$('#anti-shoulder-on').addClass('none');
			$('#anti-s-off').removeClass('none');
			$('#shared-pass-div').removeClass('none');
 		
 			return false;
 		});

 		$('#anti-shoulder-on').click(function() {
			$('#gen-keys-div').removeClass('none');
 			$('#skey-div').removeClass('none');
 			$('#pkey-div').removeClass('none');
 			$('#return-div').removeClass('none');
 			$('#compose-div').removeClass('none');
 			$('#time-div').removeClass('none');
 			$('#key-size-div').removeClass('none');
 			$('#return-to-message').removeClass('none');
 			$('#shared-pass-div').removeClass('none');
 			return false;
 		});
 		
 		
 		$('#icon-compose-new').css('color','lime');
		$('#icon-received').css('color','grey');
		$('#icon-sent').css('color','grey');
		$('#icon-contacts').css('color','grey');
		$('#icon-settings').css('color','grey');
		$('#icon-profile').css('color','grey');
		
		$( document ).submit(function() {
			$('#spinner').removeClass('none');
			$('#link-compose').addClass('none');
		});	
		
      $('#external-user').click(function() {
        $('.viaemail').removeClass('none');
        $('#searchdiv').addClass('none');
        $('.d4xsearch').addClass('none');

        $('#external-icon').removeClass('white').addClass('lime');
        $('#internal-icon').removeClass('lime').addClass('white');
      });

      $('#internal-user').click(function() {
        $('#searchdiv').removeClass('none');
        $('.d4xsearch').removeClass('none');
        $('.viaemail').addClass('none');

        $('#external-icon').removeClass('lime').addClass('white');
        $('#internal-icon').removeClass('white').addClass('lime');
      });
   });
</script>
<%= javascript_include_tag "jsencrypt.js" %>

<%= form_for(@message ,:html => { :multipart => true })  do |f| %>

    <%= hidden_field_tag :genskey %>
    <%= hidden_field_tag :encrypted %>

    <h4 class="card-title lightlime"><i class="zmdi zmdi-open-in-new lightlime"></i> <%= label_tag(t("compose new"),nil,:class=>'lightlime' )%></h4>
    <h6 class="card-subtitle">The message once arrived to destination will be stored and protected multiple times with encryption rounds, each with different algo, keys and criteria.
      You have to protect the composition of the message avoiding unsolicited eyes on your shoulders, generating new bigger keys, using a VPN or Tor, are just some example to enhance the security strength at your convenience.
      Also, writing to an internal member instead of an external email is far more secure.
    </h6>

    <div class="row">

      <div class="col-xs-12" id="compose-div">
      		<div class="row" id="destination-div">
            <div class="col-sm-2 col-xs-2 col-2">
               <% if current_user.avatar(:thumb).present? %>
                  <img class="chat-avatara round3" src="<%= current_user.avatar.url(:thumb) %>" alt="" width="80">
               <% else %>
                  <img class="chat-avatara round3" src="/assets/missing_avatar.png" alt="" width="80">
               <% end %>
            </div>
            <div class="col-sm-1 col-xs-1 col-1"> </div>
				    <div class="col-sm-6 col-xs-6 col-6">
    	   			 <div class="input-group row">
			   			 	<div class="viaemail none">
					    		<%= email_field_tag :target_name,nil,{:class=>'form-control input-sm ttt',:placeholder=>t('email')} %>
				    		</div>
                 <div class="dropdown-demo">
                   <div class="dropdown">
                     <button class="btn btn-sm btn-dark" data-toggle="dropdown"><i class="zmdi zmdi-accounts"></i></button>
                     <div class="dropdown-menu">

                           <% @contact = User.all %>
                           <% @contact.each do |user| %>
                               <a  class="dropdown-item">
                                 <div class="row">
                                   <div class="col-sm-3">
                                     <% if user.avatar(:thumb).present? %>
                                       <img src="<%= user.avatar.url(:thumb) %>" class="listview__img" alt="">
                                     <% else %>
                                       <img src="demo/img/profile-pics/1.jpg" class="listview__img" alt="">
                                     <% end %>
                                   </div>
                                   <div class="col-sm-9">
                                     <div class="listview__content">
                                       <div class="listview__heading" id="firstname"><%= user.firstname %></div>
                                       <p id="nickname">@<%= user.nickname %></p>
                                     </div>
                                   </div>
                                 </div>
                               </a>
                           <% end %>

                       <div class="dropdown-divider"></div>
                       <a href="" class="dropdown-item">
                         <div class="row">
                           <div class="col-sm-3">
                             <img src="demo/img/profile-pics/5.jpg" class="listview__img" alt="">
                           </div>
                           <div class="col-sm-9">
                             <div class="listview__content">
                               <div class="listview__heading">Jonathan Smith</div>
                               <p>Nunc quis diam diamurabitur </p>
                             </div>
                           </div>

                         </div>
                       </a>

                     </div>
                   </div>
                 </div>
			   			   <div id="remote" id="searchdiv">
				    		  	<% if params[:target_id].present? %>
			    				 	  <% @user = User.find(params[:target_id])%>
			    				  	<%= hidden_field_tag :target_id, params[:target_id] %>
			    				  	<%= text_field_tag :remote,@user.firstname,{:class=>'typeahead ttt  d4zxsearch',:placeholder=>'Recipient'} %>
			    				 <% else %> 	
					     		 	  <%= text_field_tag :remote,params[:query],{:class=>'typeahead ttt d4xsearch',:placeholder=>'Recipient'} %>
					     		 <% end %>
							    </div>
						   </div>
               <div class="row" id="actions-div">
                  <div class="col-sm-1 col-xs-1">
                    <span class="btn btn-sm white" id="internal-user" title="Notify to Reloaded Member (default)"><i class='fa fa-user lime' id="internal-icon"></i></span>
                  </div>
                  <div class="col-sm-1 col-xs-1">
                    <span class="btn btn-sm white" id="external-user" title="Notify to External Email Address"><i class='fa fa-envelope white' id="external-icon"></i></span>
                  </div>
                  <div class="col-sm-5 col-xs-5">
                  </div>
                  <div class="col-sm-1 col-xs-1">

                  </div>
               </div>
 					  </div>
            <div class="col-sm-2 col-xs-2">
              <% if current_user.avatar(:thumb).present? %>
                  <img class="chat-avatara round3" src="<%= current_user.avatar.url(:thumb) %>" alt="" width="80">
              <% else %>
                  <img class="chat-avatara round3" src="/assets/missing_avatar.png" alt="" width="80">
              <% end %>
            </div>
	    		</div>
	        <br>
          <div class="row" id="shared-pass-div">
              <div class="col-sm-12 col-xs-12">
                <%= password_field_tag :aespass,nil,:class=>'form-control input-sm center',:id=>'aespass',:placeholder=>'Pre Shared Passphrase'%>
              </div>
          </div>
          <br />
          <div class="row" id="input-div">
            <div class="col-xs-12 col-12">
              <textarea id="input" name="input" style="width: 100%" rows="2" class="form-control pipppo textarea-autosize" placeholder="Start here your message" maxlength="337"></textarea>
                <script>
                $(".pipppo").maxlength({alwaysShow: true,validate: false,allowOverMax: false});
              </script>
            </div>
          </div>

      <div class="row none" id="content-div">
        <div class="col-xs-12">
          <%= f.text_area :content,:class=>'form-control custom-control traspa',:placeholder=>"Content",:maxlength=>"337",:rows=>3,:style=>"resize:none" %>
          <script>
            $("#message_content").maxlength({alwaysShow: true,validate: false,allowOverMax: false});
          </script>
        </div>
      </div>
      <br />
	  	<div class="row" id="attachment-div">
        <br />
        <div class="col-xs-12">
                <span class="btn btn-sm btn-dark btn-block" onclick="$(this).parent().find('input[type=file]').click();"><i class="fa fa-upload white"></i>&nbsp;&nbsp;&nbsp;&nbsp; Attach a File<span class="form-control"></span></span>
                <%= f.file_field :efile, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
         </div>
	    </div>

	    <div class="row">
	    	<div class="col-xs-12">
          <div class="btn btn-md btn-outline-warning btn-block" id="execute" title="Encrypt / Decrypt"><i class='fa fa-unlock orange' id="execute-icon"></i>&nbsp;&nbsp;&nbsp;    Encrypt / Decrypt</div>
          <br />
          <button id="sendmsg" class="btn btn-outline-success btn-md btn-block" onclick="$('#new_message').submit();" disabled="true">Send Message</button>
			  </div>
      </div>

	<% end %>

        <div class="row none" id="encrypted-div">
	      	<div class="col-xs-12">
	        	<label for="crypted">Encrypted:</label><br/>
	        	<textarea id="crypted" name="crypted" style="width: 100%" rows="3" class="form-control"></textarea>
	        </div>
        </div>

    </div>
  </div>

<%= content_for :rightside_content do %>
    <div class="card">
      <div class="card-body">
          <h4 class="card-title lightlime"><i class="zmdi zmdi-key lightlime"></i> RSA Key Generator</h4>
          <h6 class="card-subtitle">This key pair will protect the message during the communication, even if travels under SSL/TLS.
          For perfomance reasons when you request a new message we generate a 1024 key for you.
          To improve your level of communication security we suggest to generate, client-side, a new 2048 or even better 4096 bytes key before composing the message.</h6>
          <div class="row" id="key-size-div">
            <div class="col-xs-5">
                  <span class="btn btn-sm btn-dark">Key Size</span>

                  <button class="btn btn-dark dropdown-toggle btn-sm" id="key-size" type="button" data-value="1024"  data-toggle="dropdown">1024 bytes
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="change-key-size" data-value="1024" href="#">1024 bytes</a></li>
                    <li><a class="change-key-size" data-value="2048" href="#">2048 bytes</a></li>
                    <li><a class="change-key-size" data-value="4096" href="#">4096 bytes</a></li>
                  </ul>
            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-5">
              <spam id="generate" class="btn btn-outline-warning btn-sm pull-right"><i class="fa fa-key orange"></i>&nbsp; Generate New Keys</span>
            </div>
          </div>

          <div class="row" id="time-div">
            <div class="col-xs-5">
              <span><i><small id="time-report" class="white"></small></i></span>
             </div>
             <div class="col-xs-6">
              <input id="async-ck" type="checkbox" class="white"> Async</label>
            </div>
          </div>
        <br>
          <div class="row" id="skey-div">
             <div class="col-xs-12 traspa">
               <br>
                <label for="privkey" class="lightlime">Private Key</label><br/>
                <small>
                  <textarea id="privkey" rows="20" style="width:100%" class="form-control input-sm textarea-autosize"></textarea>
                  <br />
                </small>
             </div>
          </div>

          <div class="row" id="pkey-div">
            <div class="col-xs-12 traspa">
              <label for="pubkey" class="lightlime">Public Key</label><br/>
              <small><textarea id="pubkey" rows="10" style="width:100%" readonly="readonly" class="form-control input-sm"></textarea></small>
            </div>
          </div>

      </div>
    </div>
<% end %>


<script type="text/javascript">

  $(function () {
    //Change the key size value for new keys
    $(".change-key-size").each(function (index, value) {
      var el = $(value);
      var keySize = el.attr('data-value');
      el.click(function (e) {
        var button = $('#key-size');
        button.attr('data-value', keySize);
        button.html(keySize + ' bit <span class="caret"></span>');
        e.preventDefault();
      });
    });

    // Execute when they click the button.
    $('#execute').click(function () {

      // Create the encryption object.
      var crypt = new JSEncrypt();

      // Set the private.
      crypt.setPrivateKey($('#privkey').val());
       $('#genskey').val($('#privkey').val());
      //return;

      // If no public key is set then set it here...
      var pubkey = $('#pubkey').val();
      if (!pubkey) {
        $('#pubkey').val(crypt.getPublicKey());
      }

      // Get the input and crypted values.
      var input = $('#input').val();
      var crypted = $('#crypted').val();

      // Alternate the values.
      if (input) {
        $('#crypted').val(crypt.encrypt(input));
        $('#input').val('');

        $('#message_content').val(crypt.encrypt(input));

        $('#encrypted').val(crypt.encrypt(input));

        $('#genpkey').val(crypt.getPublicKey());

        $('#genskey').val($('#privkey').val());

  	    $('#content-div').removeClass('none');

        $('#input-div').addClass('none');

        $('#sendmsg').prop('disabled',false);

        $('#execute-icon').removeClass('fa-unlock').addClass('fa-lock');
        $('#execute-icon').removeClass('white').addClass('lime');
	//	var encrypted = '' + CryptoJS.AES.encrypt($('#privkey').val(), 'd4x337gmail.com');
	//	console.log("ENC"+encrypted);

	//	var decrypted = CryptoJS.AES.decrypt($('#privkey').val(), 'd4x337gmail.com');
	//	console.log("DEC"+decrypted.toString(CryptoJS.enc));

        return;
      }
      else if (crypted) {
        var decrypted = crypt.decrypt(crypted);
        if (!decrypted)
          decrypted = 'Write your message';
          $('#input').val(decrypted);
          $('#crypted').val('');
          $('#message_content').val('');

          $('#content-div').addClass('none');
          $('#input-div').removeClass('none');
          $('#sendmsg').prop('disabled',true);

          $('#execute-icon').removeClass('fa-lock').addClass('fa-unlock');
          $('#execute-icon').removeClass('lime').addClass('white');
        }
        return;
    });

      var generateKeys = function () {
      var sKeySize = $('#key-size').attr('data-value');
       $('#change-keys').html("Change Keys ["+sKeySize.toString()+" bit]");
      var keySize = parseInt(sKeySize);
      var crypt = new JSEncrypt({default_key_size: keySize});
      var async = $('#async-ck').is(':checked');
      var dt = new Date();
      var time = -(dt.getTime());
      if (async) {
        $('#time-report').text('.');
        var load = setInterval(function () {
          var text = $('#time-report').text();
          $('#time-report').text(text + '.');
        }, 500);
        crypt.getKey(function () {
          clearInterval(load);
          dt = new Date();
          time += (dt.getTime());
          $('#time-report').text('Generated in ' + time + ' ms');
          $('#privkey').val(crypt.getPrivateKey());
          $('#pubkey').val(crypt.getPublicKey());

           $('#genskey').val(crypt.getPrivateKey());
           $('#genpkey').val(crypt.getPublicKey());
        });
        return;
      }
      crypt.getKey();
      dt = new Date();
      time += (dt.getTime());
      $('#time-report').text('Generated in ' + time + ' ms');
      $('#privkey').val(crypt.getPrivateKey());
      $('#pubkey').val(crypt.getPublicKey());

       $('#genskey').val(crypt.setPrivateKey());
       $('#genpkey').val(crypt.getPublicKey());

      return;
    };

    // If they wish to generate new keys.
    $('#generate').click(generateKeys);
    	generateKeys();
    	return false;
  	});


</script>
