<script language="JavaScript">
    $( document ).ready(function() {
        $('#main-menu-settings').addClass("navigation__sub--active navigation__sub--toggled");
        $('#menu-privacy').removeClass("navigation__sub").addClass("navigation__active");
    });
</script>
<h4 class="white">Privacy Settings</h4>
<br />
<%= form_for(current_user)  do |f| %>
	<div class="row">
		<div class="col-sm-7 col-xs-7">
			<h5 align="left" class="white"><i class="fa fa-envelope-o white"></i>&nbsp;&nbsp;Email Address</h5>
  		</div>
		<div class="col-sm-5 col-xs-5">
			<%= f.select(:email_privacy,options_for_select([['Everybody', '0'],['My Contacts Only', '1'],['Nobody', '2']],current_user.email_privacy),{},{:class=>'btn btn-sm btn-dark btn-block'}) %>
		</div>
	</div>
  <br>
	<div class="row">
		<div class="col-sm-7 col-xs-7">
			<h5 align="left" class="white"><i class="fa fa-cog white"></i>&nbsp;&nbsp;Show Photo </h5>
  		</div>
		<div class="col-sm-5 col-xs-5">
			<%= f.select(:picture_privacy,options_for_select([['Everybody', '0'],['My Contacts Only', '1'],['Nobody', '2']],current_user.picture_privacy),{},{:class=>'btn btn-sm btn-dark btn-block'}) %>
		</div>
	</div>
  <br>
	<div class="row">
		<div class="col-sm-7 col-xs-7">
			<h5 align="left" class="white"><i class="fa fa-comment white"></i>&nbsp;&nbsp;Show Status </h5>
    	</div>
		<div class="col-sm-5 col-xs-5">
			<%= f.select(:status_privacy,options_for_select([['Everybody', '0'],['My Contacts Only', '1'],['Nobody', '2']],current_user.status_privacy),{},{:class=>'btn btn-sm btn-dark btn-block'}) %>
		</div>
	</div>
  <br>
	<div class="row">
		<div class="col-sm-7 col-xs-7">
			<h5 align="left" class="white"><i class="fa fa-user white"></i>&nbsp;&nbsp;<%= t('show')%>&nbsp;<%= t('last seen_online')%></h5>
    	</div>
		<div class="col-sm-5 col-xs-5">
			<%= f.select(:last_access_privacy,options_for_select([['Everybody', '0'],['My Contacts Only', '1'],['Nobody', '2']],current_user.last_access_privacy),{},{:class=>'btn btn-sm btn-dark btn-block'}) %>
		</div>
	</div>
	<br />
	<%= f.submit d4x_sanitizer(t('update')),:class=>'btn btn-outline-primary btn-block' %>
<% end %>
