

  <div class="card profile">
    <div id="profpic" class="profile__img">
      <a href="" class="contacts__img">
      <% if current_user.avatar(:thumb).present? %>
          <img src="<%= current_user.avatar.url(:thumb) %>" alt="">
      <% else %>
          <img src="/images/missing_avatar.png" alt="">
      <% end %>
        </a>
    </div>

    <div class="profile__info">
      <h1><%=current_user.firstname%></h1><p>@<%=current_user.nickname %></p>
      <h4 class="grey"><%=current_user.headline%></h4>
      <p><h5 class="orange"><%=get_current_status(current_user.id)%></h5>
    </div>
    <%= link_to image_tag("cog_edit.png", :border =>0, :mouseover => "cog_edit.png", :title => t(:edit),:size => "16x16" ), edit_user_path(current_user) %>
  </div>

  <div class="card">
    <div class="card-body">
      <h6 class="yellow"><%=t("about")%>   <%=current_user.firstname%></h6>
      <p><%=current_user.about %></p>
      <br>
      <h6 class="yellow"><%=t("favorite quote")%></h6>
      <p><%=current_user.quote %></p>
      <br>
      <h6 class="yellow">Contact Information</h6>

      <ul class="icon-list">
        <% if current_user.location.present? %>
            <li class="listview__item "><i class="zmdi zmdi-pin"></i><%=current_user.location %></li>
        <% end %>
        <% if current_user.mobile.present? and current_user.show_mobile %>
            <li class="listview__item "><i class="zmdi zmdi-phone"></i><%=current_user.mobile %></li>
        <% end %>
        <% if current_user.email.present? and current_user.show_email %>
            <li class="listview__item "><i class="zmdi zmdi-email"></i><%=current_user.email %></li>
        <% end %>
        <% if current_user.linkedin_url.present? %>
            <li class="listview__item "><i class="zmdi zmdi-linkedin"></i><%=current_user.linkedin_url %></li>
        <% end %>
        <% if current_user.skype_id.present? %>
            <li class="listview__item "><i class="zmdi zmdi-skype"></i><%=current_user.skype_id %></li>
        <% end %>
        <% if current_user.instagram_id.present? %>
            <li class="listview__item "><i class="zmdi zmdi-instagram"></i><%=current_user.instagram_id %></li>
        <% end %>
        <% if current_user.facebook_user.present? %>
            <li class="listview__item "><i class="zmdi zmdi-facebook"></i><%=current_user.facebook_user %></li>
        <% end %>
        <% if current_user.github_id.present? %>
            <li class="listview__item "><i class="zmdi zmdi-github"></i><%=current_user.github_id %></li>
        <% end %>
        <% if current_user.twitter_user.present? %>
            <li class="listview__item "><i class="zmdi zmdi-twitter"></i><%=current_user.twitter_user %></li>
        <% end %>

        <% if current_user.online? %>
            <li><i class="zmdi zmdi-eye"></i><%= image_tag "online.png" %>&nbsp; <%= t('online') %></li>
        <% else %>
            <% if current_user.last_seen.present? %>
                <li><i class="zmdi zmdi-eye"></i><%= image_tag "online.png" %>&nbsp; <%= current_user.last_seen.to_s(:short)%>&nbsp;-&nbsp;<%= time_ago_in_words(current_user.last_seen) %>&nbsp;<%= t('ago') %></li>
            <% else %>
                <%= t('never') %>
            <% end %>
        <% end %>

       
        <li><i class="zmdi zmdi-account"></i><%= current_user.created_at.to_s(:short) %>&nbsp;-&nbsp;<%= time_ago_in_words(current_user.created_at) %>&nbsp;<%= t('ago')%></li>

      </ul>
    </div>
  </div>
