<% content_for :head do %>
		<script language="JavaScript">
			$( document ).submit(function() {
				$('#spinner').removeClass('none');
				$('#link-compose').addClass('none');
			});
		</script>
<% end %>


<%= form_for(@invitation) do |f| %>
	<br />
	<%= f.text_field :subject ,:class=>'form-control center',:placeholder=>d4x_sanitizer(t("fullname")) %>			
	<br />
	<%= f.email_field :recipient_email,:class=>'form-control center',:placeholder=>d4x_sanitizer(t("email")) %>
	<br />
	<%= f.submit d4x_sanitizer(t('send')) ,:class=>'btn btn-dark btn-block' %>
<% end %>

<br />

<%= form_for(@user, :html => { :multipart => true })  do |f| %>
	<%= label_tag(t("invitations list"),nil,:class=>'white' )%><br />
	<br />
	<%= hidden_field_tag :import,:invitations %>
	<div class="input-group">
 		<span class="input-group-btn">
	    	<span class="btn btn-small btn-d4x btn-inverse" onclick="$(this).parent().find('input[type=file]').click();"><i class="fa fa-list white"></i></span>
	    	<%= f.file_field :invitations_list, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
	  	</span>
	  	<span class="form-control"></span>
	</div>
	<br />
	<%= f.submit d4x_sanitizer(t('upload')),:class=>'btn btn-dark btn-block' %>
<% end %>

