<% content_for :head do %>
	<%= javascript_include_tag "d4x-activation" %>
<% end %>
<div class="login__block active" id="l-login">
  <div class="login__block__header">
    <i class="zmdi zmdi-account-circle"></i>
    <h4 class="orange"><%= d4x_sanitizer(t('activate_account')) %></h4><br>
    <%= d4x_sanitizer(t('Use the email you have already registered')) %>
    <div class="actions actions--inverse login__block__actions">
      <div class="dropdown">
        <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>
        <div class="dropdown-menu dropdown-menu-right ddd4x">
          <%= render :partial => 'devise/shared/dropdown_confirmation' %>
        </div>
      </div>
    </div>
  </div>
  <div class="login__block__body">
    <%= form_for('#') do |f| %>
      <div class="form-group">
        <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>
        <%= text_field_tag :couponCode, nil,:placeholder=>'Coupon',:class=>'form-control input-sm center' %>
        <script type="text/javascript" id="js_activation"
                src="https://checkout.stripe.com/checkout.js" data-label="<%= d4x_sanitizer(t('Activate and Pay')) %> <%= get_setting_value('CONTRIBUTION').to_i/100%>€ <%= d4x_sanitizer(t('with Credit Card')) %>" class="stripe-button"
                data-key="pk_live_Lu6ibTa04s1Np4M2TkGu98PN"
                data-amount="<%= get_setting_value('CONTRIBUTION')%>"
                data-name="Reloaded 1 Year Subscription"
                data-description="Use the email you already registered."
                data-locale="auto"
                data-zip-code="true"
                data-currency="eur">
        </script>

      </div>
      <%= f.submit t("activate_account"), :id => "bt-signin",:class=>'btn btn-sm btn-outline-success block full-width m-b'  %>

    <% end %>
  </div>
  <%= render :partial => '/shared/devise_footer' %>
</div>
