<div id="text-content">
	<p id="notice">
		<%= notice %>
	</p>
	<h2><%= t('editing friend') %></h2>
	<%= render 'form' %>
	<%= link_to t('Show'), @friend %> |
	<%= link_to t('Back'), friends_path %>
</div>
