<script language="JavaScript">
    $( document ).ready(function() {
        $('#main-menu-social').addClass("navigation__sub--active navigation__sub--toggled");
        $('#menu-network').removeClass("navigation__sub").addClass("navigation__active");
    });
</script>
<h4 class="card-title bluesocial"><i class="zmdi zmdi-accounts-list socialblue"></i>&nbsp;<%= t("connections") %></h4>

<% unless @users.blank? %>
  <div class="contacts row">
  <% @users.each do |user| %>
      <%= link_to user.nickname do %>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="contacts__item">
              <a href="" class="contacts__img">
                <% if have_to_show_photo(current_user.id,user.id) %>
                    <% if user.avatar(:thumb).present? %>
                        <img src="<%= user.avatar.url(:thumb) %>" alt="">
                    <% else %>
                        <img src="demo/img/profile-pics/2.jpg" alt="">
                    <% end %>
                <% else %>
                    <img src="demo/img/profile-pics/2.jpg" alt="">
                <% end %>
              </a>
              <div class="contacts__info">
                <strong><%= user.firstname %></strong>
                <small><%= "@"+user.nickname %></small>
                <small><% user.email %></small>
              </div>
              <button class="contacts__btn">Following</button>
              <%= link_to raw('<i class="fa fa-envelope white"></i>'), "/compose?target_id="+user.id.to_s, :class=>'btn btn-xs btn-dark',:title=>'send message' %></span>
              <%= form_for(friends_path) do |f| %>
                  <%= f.hidden_field :friend_id, :value=> user.id %>
                  <%= button_to user,:class=>"btn btn-xs btn-success",:method => :delete,data:{:confirm => 'Are you sure you want to disconnect this person?'},:title=>"Want to remove this connection?" do %>
                      <span class="glyphicon glyphicon-user"></span>
                  <% end %>
              <% end %>
            </div>
          </div>
    <% end %>
  <% end %>
  <div>
<% else %>
    <h6 class="card-subtitle">You do not have any connection.</h6>
<% end %>



