<% content_for :head do %>
	<meta name="ROBOTS" content="INDEX FOLLOW">
<% end %>

<% if not params[:invitation_token].blank? %>
	<% if is_invited(params[:invitation_token])%>
		<% invited_email = get_token_email(params[:invitation_token]) %>
		<% invited_name = get_token_name(params[:invitation_token]) %>
		<%= hidden_field_tag :invitation_token,:value => params[:invitation_token] %>
		<%= hidden_field_tag :invite_email,:value => invited_email %>
		<%= hidden_field_tag :invite_name,:value => invited_name %>
		<%= d4x_sanitizer(t('invitated sir')) %>
	<% else %>
		<%= d4x_sanitizer(t('invalid invite')) %>
	<% end %>
<% end %>		

<% if not params[:request_token].blank? %>
	<% if is_invited(params[:request_token])%>
		<% requested_email = get_token_email_for_requests(params[:request_token]) %>
		<% requested_name = get_token_name_for_requests(params[:request_token]) %>
		<%= hidden_field_tag :request_token,:value => params[:request_token] %>
		<%= hidden_field_tag :request_email,:value => requested_email %>
		<%= hidden_field_tag :request_name,:value => requested_name %>
		<%= d4x_sanitizer(t('requested sir')) %>
	<% else %>
		<%= d4x_sanitizer(t('invalid request')) %>
	<% end %>
<% end %>

<% if not alert.blank? and not notice.blank?%>
    We use an innovative secure messaging <br>that protect your privacy and it's great for your job.<br>
    <br>
    The system entry contribution is needed and<br> after that you'll be a member of our club for a lifetime.<br>
<% end %>

<nav>
	<ul>
		<li class="animated fadeInDown"><a href="/signup" class="fa fa-user" ><span><%= d4x_sanitizer("register")%></span></a></li>
		<li class="animated fadeInDown"><a href="/activation" class="fa fa-credit-card" ><span><%= d4x_sanitizer("contribute")%></span></a></li>
    <li class="animated fadeInDown"><a href="/login" class="fa fa-sign-in" ><span><%= d4x_sanitizer(t('login'))%></span></a></li>

  </ul>
</nav>


<br />
