<% content_for :head do %>
	<meta name="ROBOTS" content="INDEX FOLLOW">
<% end %>

<% if not params[:invitation_token].blank? %>
	<% if is_invited(params[:invitation_token])%>
		<% invited_email = get_token_email(params[:invitation_token]) %>
		<% invited_name = get_token_name(params[:invitation_token]) %>
		<%= hidden_field_tag :invitation_token,:value => params[:invitation_token] %>
		<%= hidden_field_tag :invite_email,:value => invited_email %>
		<%= hidden_field_tag :invite_name,:value => invited_name %>
		<%= d4x_sanitizer(t('invitated sir')) %>
	<% else %>
		<%= d4x_sanitizer(t('invalid invite')) %>
	<% end %>
<% end %>

<% if not params[:request_token].blank? %>
	<% if is_invited(params[:request_token])%>
		<% requested_email = get_token_email_for_requests(params[:request_token]) %>
		<% requested_name = get_token_name_for_requests(params[:request_token]) %>
		<%= hidden_field_tag :request_token,:value => params[:request_token] %>
		<%= hidden_field_tag :request_email,:value => requested_email %>
		<%= hidden_field_tag :request_name,:value => requested_name %>
		<%= d4x_sanitizer(t('requested sir')) %>
	<% else %>
		<%= d4x_sanitizer(t('invalid request')) %>
	<% end %>
<% end %>

<div id="royal_preloader"></div>

<!-- Start Switcher / Remove for production -->
<div class="demo_changer">
  <div class="demo-icon">
    <i class="pe-7s-settings"></i>
  </div><!-- end opener icon -->
  <div class="form_holder">
    <div class="row">
      <div class="col-sm-12">
        <div class="predefined_styles">
          <h4>Base</h4>
          <a href="" data-rel="main-css" class="styleswitch2"><div class="btn dark-css-square"></div></a>
          <a href="" data-rel="base-light" class="styleswitch2"><div class="btn light-css-square"></div></a>
          <hr>
          <h4>Colors</h4>
          <a href="" data-rel="main-css" class="styleswitch"><div class="btn purple-css-square"></div></a>
          <a href="" data-rel="blue" class="styleswitch"><div class="btn blue-css-square"></div></a>
          <a href="" data-rel="green" class="styleswitch"><div class="btn green-css-square"></div></a>
          <a href="" data-rel="orange" class="styleswitch"><div class="btn orange-css-square"></div></a>
          <a href="" data-rel="red" class="styleswitch"><div class="btn red-css-square"></div></a>
          <a href="" data-rel="orangelight" class="styleswitch"><div class="btn orangelight-css-square"></div></a>
          <a href="" data-rel="seagul" class="styleswitch"><div class="btn seagul-css-square"></div></a>
          <a href="" data-rel="pinkish" class="styleswitch"><div class="btn pinkish-css-square"></div></a>
        </div><!-- /.end predefined_styles -->
      </div><!-- /.end col -->
    </div><!-- /.end row -->
  </div><!-- /.end form_holder -->
</div><!-- /.end demo_changer --
<!-- End Switcher / Remove for production -->

<!-- Begin Header -->
<header>
  <!-- Begin Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scroll-link" href="#home" data-id="home">Realoaded<span class=" logo"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home" data-id="home" class="scroll-link">Home</a></li>
            <li><a href="#ideology" data-id="ideology" class="scroll-link"><%= t("ideology")%></a></li>
            <li><a href="#services" data-id="services" class="scroll-link"><%= t("services")%></a></li>
            <li><a href="#about" data-id="about" class="scroll-link"><%= t("about")%></a></li>
            <li><a href="#contact" data-id="contact" class="scroll-link"><%= t("contact")%></a></li>
            <li><a href="signup" ><%= d4x_sanitizer(t("register"))%></a></li>
            <li><a href="signin" ><%= d4x_sanitizer(t("login"))%></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <!-- Endoribus Navigation -->
</header>
<!-- End Header -->

<!-- Begin Jumbotron -->
<div class="jumbotron jumbotron-main" id="home">
  <div id="particles-js"></div><!-- /.particles div -->
  <div class="container center-vertically-holder">
    <div class="center-vertically">
      <div id="scaleReveal" class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">

        <% if not alert.blank? %>
            <%= label_tag(d4x_sanitizer(alert)) %>
        <% end %>
        <% if not notice.blank? %>
            <%= label_tag(d4x_sanitizer(notice)) %>
        <% end %>
        <div class="ticker">
          <h1><%= get_setting_value('PROJECT_NAME') %></h1>
          <h3><%= get_setting_value('PROJECT_MOTTO') %></h3>
        </div>
        <hr>
        <p><%= t("welcome")%></p>
        <a href="signup" data-id="work" class="btn-default btn-white btn-lg mt15"><%= d4x_sanitizer("enter")%><span class="ion-android-arrow-down"></span></a>
      </div><!-- /.column -->
    </div><!-- /.vertical center -->
  </div><!-- /.container -->
</div>
<!-- End Jumbotron -->

<!-- Begin Intro -->
<section id="ideology">

  <!-- Begin Hello Intro -->
  <div id="hello-intro" class="pt60 pb60">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-sm-3">
          <h2 class="no-margin rotateLeftReveal"><%= t("hello")%></h2>
        </div>
        <div class="col-lg-10 col-sm-9 mt30-xs">
          <h3 class="no-margin rightReveal">We are an information technology agency with a focus on cyber security and software engineering.<strong></strong>.</h3>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.div -->
  <!-- End Hello Intro -->

  <!-- Begin Our Process Title -->
  <div id="our-process-title" class="pt30 pb30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h4 class="no-margin">Our Ideology</h4>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.div -->
  <!-- End Our Process Title -->

  <!-- Begin Our Process -->
  <div id="our-process">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="leftReveal">
            <div class="process-intro">
              <h3 class="process-number">01</h3>
              <div><span class="process-icons pe-7s-users rotateBottomReveal"></span></div>
              <h2>Effective Impact</h2>
              <h3>Software Engineering</h3>
            </div>
            <div class="process-content">
              <div><span class="process-icons pe-7s-users"></span></div>
              <h2 class="mt15 mb20">Effective<br>Impact</h2>
              <p class="no-margin">With deep experience through many industries the effectiveness of integrations, migrations and automations as software solutions is something you can ask us.</p>
            </div>
          </div><!-- /.animation -->
        </div><!-- /.column -->
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="bottomReveal">
            <div class="process-intro">
              <h3 class="process-number">02</h3>
              <div><span class="process-icons pe-7s-diamond rotateBottomReveal"></span></div>
              <h2>High Quality</h2>
              <h3>Cyber Security</h3>
            </div>
            <div class="process-content">
              <div><span class="process-icons pe-7s-diamond"></span></div>
              <h2 class="mt15 mb20">High Quality<br>Cyber Security</h2>
              <p class="no-margin">Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.</p>
            </div>
          </div><!-- /.animation -->
        </div><!-- /.column -->
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
          <div class="rightReveal">
            <div class="process-intro">
              <h3 class="process-number">03</h3>
              <div><span class="process-icons pe-7s-rocket rotateBottomReveal"></span></div>
              <h2>Astro Design</h2>
              <h3>Online Marketing</h3>
            </div>
            <div class="process-content">
              <div><span class="process-icons pe-7s-rocket"></span></div>
              <h2 class="mt15 mb20">Rocketship<br>Astro Designing</h2>
              <p class="no-margin">Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.</p>
            </div>
          </div><!-- /.animation -->
        </div><!-- /.column -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.div -->
  <!-- End Our Process -->

  <!-- Begin Quote Carousel -->
  <div id="carousel" class="testimonial-carousel pt40 pb20">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <span class="pe-7s-close heading-3-icon"></span>
          <h2 class="heading-3">Testimonials</h2>
          <div class="fade-quote-carousel carousel slide" id="quote-carousel" data-ride="carousel" data-interval="3000">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#quote-carousel" data-slide-to="1"></li>
              <li data-target="#quote-carousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <blockquote>
                  <p>"Phasellus pulvinar lacinia elit nec tristique. Nulla accumsan velit id nulla tincidunt ornare. Sed cursus urna sed. Aliquam elementum orci at dolor viverra."</p>
                </blockquote>
              </div>
              <div class="item">
                <blockquote>
                  <p>"Phasellus pulvinar lacinia elit nec tristique. Nulla accumsan velit id nulla tincidunt ornare. Sed cursus urna sed. Aliquam elementum orci at dolor viverra."</p>
                </blockquote>
              </div>
              <div class="item">
                <blockquote>
                  <p>"Phasellus pulvinar lacinia elit nec tristique. Nulla accumsan velit id nulla tincidunt ornare. Sed cursus urna sed. Aliquam elementum orci at dolor viverra."</p>
                </blockquote>
              </div>
            </div>

          </div><!-- /.carousel -->
        </div><!-- /.column -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.carousel -->
  <!-- End Quote Carousel -->

</section><!-- /.section -->
<!-- End Intro -->

<!-- Begin Services -->
<section id="services" class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Services</h2>
        <span class="section-divider"></span>
      </div><!-- /.column -->
    </div><!-- /.row -->

    <div class="row">
      <!-- Item 1 -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="services-box leftReveal">
          <span class="pe-7s-look services-icon"></span>
          <h3 class="service-name">1. Cyber Security</h3>
          <p class="text-small">Con oltre 20 anni di esperienza nell'IT Security forniamo supporto ad aziende e privati per la sicurezza delle applicazioni, reti e sistemi. </p>
          <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item1-services">Info</button>
        </div>
      </div><!-- /.column -->
      <!-- Item 1 Modal -->
      <div class="modal fade" id="item1-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-ios-close-empty"></span>
              </button>
              <span class="pe-7s-airplay services-icon-2"></span>
              <h4 class="service-title">Cyber Security</h4>
            </div>
            <div class="modal-body">
              <p>No, thank ye, Bunger, said the English Captain, "he's welcome to the arm he has, since I can't help it, and didn't know him then; but not to another one. No more White Whales for me; I've lowered for him once.</p>
              <h5 class="heading-1 modal-heading mb20">Why us</h5>
              <p>"Well, then," interrupted Bunger, "give him your left arm for bait to get the right. Do you know, gentlemen"—very gravely and mathematically bowing to each Captain in succession—"Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man's arm? And he knows it too.</p>
              <h5 class="heading-1 modal-heading mb20">Focusing</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed.</p>
              <h5 class="heading-1 modal-heading mb20">Professionals</h5>
              <p class="no-margin-bottom">"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.—Is your Captain crazy?" whispering Fedallah. Phasellus pulvinar lacinia elit nec tristique.</p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Item 2 -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30-xs">
        <div class="services-box topReveal">
          <span class="services-badge badge"></span>
          <span class="pe-7s-phone services-icon"></span>
          <h3 class="service-name">2. Software Engineering</h3>
          <p class="text-small">Consulenza specializzata riguardo ogni task del SDLC. Dall'analisi dei requisiti software, allo sviluppo, fino ai test finali in produzione.</p>
          <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item2-services">Info</button>
        </div>
      </div><!-- /.column -->
      <!-- Item 2 Modal -->
      <div class="modal fade" id="item2-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-ios-close-empty"></span>
              </button>
              <span class="pe-7s-phone services-icon-2"></span>
              <h4 class="service-title">Software Engineering</h4>
            </div>
            <div class="modal-body">
              <p>No, thank ye, Bunger, said the English Captain, "he's welcome to the arm he has, since I can't help it, and didn't know him then; but not to another one. No more White Whales for me; I've lowered for him once.</p>
              <h5 class="heading-1 modal-heading mb20">Why us</h5>
              <p>"Well, then," interrupted Bunger, "give him your left arm for bait to get the right. Do you know, gentlemen"—very gravely and mathematically bowing to each Captain in succession—"Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man's arm? And he knows it too.</p>
              <h5 class="heading-1 modal-heading mb20">Focusing</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed.</p>
              <h5 class="heading-1 modal-heading mb20">Professionals</h5>
              <p class="no-margin-bottom">"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.—Is your Captain crazy?" whispering Fedallah. Phasellus pulvinar lacinia elit nec tristique.</p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Item 3 -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30-sm mt30-xs">
        <div class="services-box rightReveal">
          <span class="pe-7s-airplay services-icon"></span>
          <h3 class="service-name">3. Web Design</h3>
          <p class="text-small">Spacialisti del Web Design per esigenze di maketing, e-commerce, amministrazione ma anche per siti privati a scopo promozionale.</p>
          <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item3-services">Info</button>
        </div>
      </div><!-- /.column -->
      <!-- Item 3 Modal -->
      <div class="modal fade" id="item3-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-ios-close-empty"></span>
              </button>
              <span class="pe-7s-camera services-icon-2"></span>
              <h4 class="service-title">Web Design</h4>
            </div>
            <div class="modal-body">
              <p>No, thank ye, Bunger, said the English Captain, "he's welcome to the arm he has, since I can't help it, and didn't know him then; but not to another one. No more White Whales for me; I've lowered for him once.</p>
              <h5 class="heading-1 modal-heading mb20">Why us</h5>
              <p>"Well, then," interrupted Bunger, "give him your left arm for bait to get the right. Do you know, gentlemen"—very gravely and mathematically bowing to each Captain in succession—"Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man's arm? And he knows it too.</p>
              <h5 class="heading-1 modal-heading mb20">Focusing</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed.</p>
              <h5 class="heading-1 modal-heading mb20">Professionals</h5>
              <p class="no-margin-bottom">"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.—Is your Captain crazy?" whispering Fedallah. Phasellus pulvinar lacinia elit nec tristique.</p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Item 4 -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
        <div class="services-box leftReveal">
          <span class="services-badge badge">New</span>
          <span class="pe-7s-network services-icon"></span>
          <h3 class="service-name">4. Corsi su Linux e Unix</h3>
          <p class="text-small">Corsi base per il sistema operativo Linux, sia per aziende che privati. Per specialisti e professinisti della sicurezza informatica corso Esperto OpenBSD Unix. </p>
          <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item4-services">Info</button>
        </div>
      </div><!-- /.column -->
      <!-- Item 4 Modal -->
      <div class="modal fade" id="item4-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-ios-close-empty"></span>
              </button>
              <span class="pe-7s-anchor services-icon-2"></span>
              <h4 class="service-title">Corsi Linux e Unix</h4>
            </div>
            <div class="modal-body">
              <p>No, thank ye, Bunger, said the English Captain, "he's welcome to the arm he has, since I can't help it, and didn't know him then; but not to another one. No more White Whales for me; I've lowered for him once.</p>
              <h5 class="heading-1 modal-heading mb20">Why us</h5>
              <p>"Well, then," interrupted Bunger, "give him your left arm for bait to get the right. Do you know, gentlemen"—very gravely and mathematically bowing to each Captain in succession—"Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man's arm? And he knows it too.</p>
              <h5 class="heading-1 modal-heading mb20">Focusing</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed.</p>
              <h5 class="heading-1 modal-heading mb20">Professionals</h5>
              <p class="no-margin-bottom">"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.—Is your Captain crazy?" whispering Fedallah. Phasellus pulvinar lacinia elit nec tristique.</p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Item 5 -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
        <div class="services-box bottomReveal">
          <span class="pe-7s-users services-icon"></span>
          <h3 class="service-name">5. ICT Services</h3>
          <p class="text-small">Analisi di sistemi informatici con criticita' di sicurezza o performace. Supporto per operazioni di integrazione dati e automazione industriale.</p>
          <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item5-services">Info</button>
        </div>
      </div><!-- /.column -->
      <!-- Item 5 Modal -->
      <div class="modal fade" id="item5-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-ios-close-empty"></span>
              </button>
              <span class="pe-7s-users services-icon-2"></span>
              <h4 class="service-title">ICT Services</h4>
            </div>
            <div class="modal-body">
              <p>No, thank ye, Bunger, said the English Captain, "he's welcome to the arm he has, since I can't help it, and didn't know him then; but not to another one. No more White Whales for me; I've lowered for him once.</p>
              <h5 class="heading-1 modal-heading mb20">Why us</h5>
              <p>"Well, then," interrupted Bunger, "give him your left arm for bait to get the right. Do you know, gentlemen"—very gravely and mathematically bowing to each Captain in succession—"Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man's arm? And he knows it too.</p>
              <h5 class="heading-1 modal-heading mb20">Focusing</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed.</p>
              <h5 class="heading-1 modal-heading mb20">Professionals</h5>
              <p class="no-margin-bottom">"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.—Is your Captain crazy?" whispering Fedallah. Phasellus pulvinar lacinia elit nec tristique.</p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Item 6 -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
        <div class="services-box rightReveal">
          <span class="services-badge badge"></span>
          <span class="pe-7s-mail services-icon"></span>
          <h3 class="service-name">6. Social Media</h3>
          <p class="text-small">Reloaded e' il nostro servizio di social media, gestione email, messaggistica, blog ed e-commerce.</p>
          <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item6-services">Info</button>
        </div>
      </div><!-- /.column -->
      <!-- Item 6 Modal -->
      <div class="modal fade" id="item6-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-ios-close-empty"></span>
              </button>
              <span class="pe-7s-volume services-icon-2"></span>
              <h4 class="service-title">Social Media</h4>
            </div>
            <div class="modal-body">
              <p>No, thank ye, Bunger, said the English Captain, "he's welcome to the arm he has, since I can't help it, and didn't know him then; but not to another one. No more White Whales for me; I've lowered for him once.</p>
              <h5 class="heading-1 modal-heading mb20">Why us</h5>
              <p>"Well, then," interrupted Bunger, "give him your left arm for bait to get the right. Do you know, gentlemen"—very gravely and mathematically bowing to each Captain in succession—"Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man's arm? And he knows it too.</p>
              <h5 class="heading-1 modal-heading mb20">Focusing</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed.</p>
              <h5 class="heading-1 modal-heading mb20">Professionals</h5>
              <p class="no-margin-bottom">"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.—Is your Captain crazy?" whispering Fedallah. Phasellus pulvinar lacinia elit nec tristique.</p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
<!-- End Services -->

<!-- Begin About -->
<section id="about" class="background1 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>About</h2>
        <span class="section-divider"></span>
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row mb15">
      <div class="col-sm-5 leftReveal">
        <h5 class="heading-1 mb20">Our Trade</h5>
        <h3 class="mb15 no-margin-top">Designing, Developing, and <br>Innovating for people like you...</h3>
        <p class="no-margin text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tristiq enim. Integer eu <strong>neque</strong> arcu. Aenean sed odio nibh. Cras imperdiet, arcu eget dictum vestibulum elit.</p>
      </div><!-- /.column -->
      <div class="col-sm-7 mt30-xs rightReveal">
        <h5 class="heading-1 mb20">How we started it</h5>
        <span class="icon-handle-streamline-vector logo-about"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras est urna, imperdiet eget sem at, pellentesque cursus elit. Etiam id ante et elit interdum sollicitudin. Cras imperdiet, arcu eget dictum vestibulum elit.</p>
        <p>Curabitur egestas interdum ex, sed commodo ipsum consectetur vitae. Nulla auctor ante erat. Class aptent taciti sociosqu nostra enean sed.</p>
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row mb30">
      <div class="col-sm-9 leftReveal">
        <h5 class="heading-1 mb20">Why?</h5>
        <p class="lead no-margin">Lorem ipsum dolor sit amet, consectetur adipicing elit. tristique enim. Integer euef neque arcu. Aenean sed odio nibh. <strong>Cras imperdiet</strong>, arcu eget dictum vestibulumizor. Lorem ipsil dolor sit amet, consectetur adipiscing elit.</p>
      </div><!-- /.column -->
      <div class="col-sm-3 mt30-xs rightReveal">
        <h5 class="heading-1 mb20">Quote</h5>
        <p class="no-margin text-small"><i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus quibusdam."</i></p>
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-7 col-sm-5 bottomReveal">
        <h5 class="heading-1 mb20">Skills</h5>
        <div class="progress">
          <div class="progress-bar text-left" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            Development
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar text-left" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
            Design
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar text-left" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%;">
            Photography
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar text-left" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
            Icon Design
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar text-left" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
            Audio
          </div>
        </div>
        <div class="progress-meter mb30-xs">
          <div class="meter meter-left" style="width: 30%;"><span class="meter-text">Beginner</span></div>
          <div class="meter meter-left" style="width: 20%;"><span class="meter-text">Intermediate</span></div>
          <div class="meter meter-right" style="width: 20%;"><span class="meter-text">Pro</span></div>
          <div class="meter meter-right" style="width: 30%;"><span class="meter-text">Master</span></div>
        </div>
      </div><!-- /.column -->
      <div class="col-lg-5 col-sm-7 mt10 rotateLeftReveal">
        <div id="about-carousel" class="basic-carousel carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#about-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#about-carousel" data-slide-to="1"></li>
            <li data-target="#about-carousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/placeholder.png" alt="..." class="img-responsive">
            </div>
            <div class="item">
              <img src="images/placeholder2.png" alt="..." class="img-responsive">
            </div>
            <div class="item">
              <img src="images/placeholder3.png" alt="..." class="img-responsive">
            </div>
          </div>
        </div>
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
<!-- End About -->


<!-- Start Profile -->
<section id="profile" class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Profile</h2>
        <span class="section-divider"></span>
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-sm-4">

        <%= image_tag "d4x.jpg",:class=>"img-responsive", :id=>"BW",:size=>"70x70" %>
        <div class="profile-box">
          <ul class="list-unstyled">
            <li><strong>Name:</strong> Davide Gonnella</li>
            <li><strong>Nationality:</strong> Italia</li>
            <li><strong>Position:</strong> CEO & Founder</li>
            <li><strong>Phone:</strong> (+39) 349 8267301</li>
            <li><strong>Email:</strong> d4x337@protonmail.com</li>
          </ul>
        </div>
      </div><!-- column -->
      <div class="col-sm-8 mt30-xs">
        <h5 class="heading-1 mb20">Intro</h5>
        <h3 class="mb15 no-margin-top">Ciao, my name is Davide and I am the Reloaded founder.</h3>
        <p class="text-small text-switch"></p>
        <span class="divider"></span>
        <p class="text-small">"Well, then," interrupted Bunger, "give him your left arm for bait to get the right. Do you know, gentlemen"—very gravely and mathematically bowing to each Captain in succession—"Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man's arm? And he knows it too.</p>
        <h5 class="heading-1 mt20 mb20">Skills</h5>
        <div class="progress">
          <div class="progress-bar text-left" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            Unix Administration
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar text-left" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
            Software Development Life Cycle
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar text-left" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
            Cyber Security
          </div>
        </div>
        <div class="progress-meter">
          <div class="meter meter-left" style="width: 30%;"><span class="meter-text">Beginner</span></div>
          <div class="meter meter-left" style="width: 20%;"><span class="meter-text">Intermediate</span></div>
          <div class="meter meter-right" style="width: 20%;"><span class="meter-text">Professional</span></div>
          <div class="meter meter-right" style="width: 30%;"><span class="meter-text">Master</span></div>
        </div>
        <p class="text-small mt50 no-margin-bottom"><span class="text-switch">"Good God!"</span> cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.—Is your Captain crazy?" whispering Fedallah.</p>
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
<!-- End Profile -->

<!-- Begin Pricing -->
<section class="background1 section-padding">
  <div class="container">
    <div class="row mb30">
      <div class="col-lg-6 col-lg-offset-3 section-title text-center">
        <h2>Pricing</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin">We offer extremely competitive prices for all products.</p>
      </div><!-- /.column -->
    </div><!-- /.row -->



  </div><!-- /.container -->
</section><!-- /.section -->
<!-- End Pricing -->

<!-- Begin Contact -->
<section id="contact" class="background2 section-padding">
  <div class="container">
    <div class="row mb30">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
        <h2>Contact</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin scaleReveal">Our team is from all over the world and we know how to deliver quality pixels from miles away.</p>
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-sm-5 col-lg-4">
        <h5 class="heading-1 mb20">About Us</h5>
        <h4 class="mb15">Reloaded</h4>
        <h4 class="mb15">Viale Certosa 119 <br>20151 Milano, Italy</h4>
        <p class="no-margin text-xs-small">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates. Temporibus autem quibusdam et aut.</p>
        <hr class="mini-hr">
        <p class="text-xs-small mb5"><strong class="text-switch">Email:</strong> info@realoadedcybermilano.it</p>
        <p class="text-xs-small mb5"><strong class="text-switch">Phone:</strong> +39 02 97163540</p>
        <p class="text-xs-small mb5"><strong class="text-switch">Mobile:</strong> +39 349 8267301</p>
      </div><!-- /.column -->
      <div class="col-sm-6 col-lg-7 mt30-xs">
        <form action="/feedback" method="post" data-toggle="validator" id="contactForm" name="contactForm">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="controls">
                  <input id="feedback_reason" class="form-control" data-error="This section is required."
                         id="msg_subject" placeholder="Subject *" required="" type="text">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div><!-- /.column -->
            <div class="col-sm-6">
              <div class="form-group">
                <div class="controls">
                  <input class="form-control" id="phone" placeholder="Phone" type="text">
                </div>
              </div>
            </div><!-- /.column -->
          </div><!-- /.row -->
          <div class="row mb10">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="controls">
                  <input id="feedback_from" class="form-control" data-error="This section is required." id="name" placeholder="Your Name *" required="" type="text">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div><!-- /.column -->
            <div class="col-sm-6">
              <div class="form-group">
                <div class="controls">
                  <input  id="feedback_email" class="email form-control" data-error="This section is required." id="email" placeholder="Email *" required="" type="email">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div><!-- /.column -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="controls">
                  <textarea id="feedback_message" class="form-control" data-error="This section is required." id="message" placeholder="Message *" required="" rows="5"></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt15">
            <div class="col-sm-6">
              <div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div>
            </div><!-- /.column -->
            <div class="col-sm-6 text-right">
              <button type="submit" id="submit" class="btn btn-default btn-lg">Send</button>
            </div><!-- /.column -->
          </div><!-- /.row -->
        </form><!-- /.form -->
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
<!-- End Contact -->

<!-- Begin Map -->
<div id="map"></div>
<!-- End Map -->

<!-- Begin Footer -->
<footer class="footer-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <%=link_to(image_tag("logo15.png",:class=>'imagelogo'),"/")%>
        <br>
        <a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
        <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
        <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-small text-center">
        <hr>
        <button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
        <br>
        <%= link_to image_tag("us.png",:alt=>"English",:title=>'English',:class=>'d4xicon'), url_for( :locale => 'en' ) %>&nbsp;
        <%= link_to image_tag("es.png",:alt=>"Spanish",:title=>'Spanish',:class=>'d4xicon'), url_for( :locale => 'es' ) %>&nbsp;
        <%= link_to image_tag("fr.png",:alt=>"French",:title=>'French',:class=>'d4xicon'), url_for( :locale => 'fr' ) %>&nbsp;
        <%= link_to image_tag("de.png",:alt=>"German",:title=>'German',:class=>'d4xicon'), url_for( :locale => 'de' ) %>&nbsp;
        <%= link_to image_tag("england.png",:alt=>"English",:title=>'English',:class=>'d4xicon'), url_for( :locale => 'en' ) %>&nbsp;
        <%= link_to image_tag("it.png",:title=>'Italian',:alt=>"Italian",:class=>'d4xicon'), url_for( :locale => 'it' )%>&nbsp;
        <%= link_to image_tag("ru.png",:alt=>"Russian",:title=>'Russian',:class=>'d4xicon'), url_for( :locale => 'ru' ) %>&nbsp;
        <%= link_to image_tag("pt.png",:alt=>"Portuguese",:title=>'Portuguese',:class=>'d4xicon'), url_for( :locale => 'pt' ) %>&nbsp;
        <%= link_to image_tag("nl.png",:alt=>"Dutch",:title=>'Dutch',:class=>'d4xicon'), url_for( :locale => 'nl' ) %>&nbsp;
        <%= link_to image_tag("cn.png",:alt=>"Chinese",:title=>'Chinese',:class=>'d4xicon'), url_for( :locale => 'cn' ) %>&nbsp;
        <%= link_to image_tag("se.png",:alt=>"Swedish",:title=>'Swedish',:class=>'d4xicon'), url_for( :locale => 'se' ) %>&nbsp;
        <p class="no-margin">&copy; <%= get_setting_value('PROJECT_COPYRIGHT_YEARS') %> <%= link_to get_setting_value('PROJECT_NAME'),'/about' %>&nbsp;&nbsp;-&nbsp; <%= d4x_sanitizer(t("all_rights")) %></p>
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /.footer -->
<!-- Begin Footer -->

<!-- Javascript Files -->
<%= javascript_include_tag 'js/bootstrap.min.js' %>

<script type="text/javascript">
    /* ---- Google Maps ---- */
    function initMap() {
        var mapOptions = {
            zoom: 15,
            zoomControl: false,
            scaleControl: false,
            scrollwheel: false,
            disableDoubleClickZoom: true,
            center: new google.maps.LatLng(40.6700, -73.9400), // New York
            styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
        };
        var mapElement = document.getElementById('map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(40.6700, -73.9400),
            map: map,
            title: 'Our Office!'
        });
    }
</script>


<%= javascript_include_tag 'js/particles.min.js' %>
<%= javascript_include_tag 'js/particlesRun.js' %>
<%= javascript_include_tag 'js/jquery.mixitup.js' %>
<%= javascript_include_tag 'js/form-validator.min.js' %>
<%= javascript_include_tag 'js/jquery.inview.min.js' %>
<%= javascript_include_tag 'js/jquery.countTo.js' %>


<script type="text/javascript">
    /* ---- Counter (our count) ---- */
    $('#ourcount').one('inview', function(event, isInView) {
        if (isInView) {
            $('.timer').countTo({speed: 3000});
        }
    });
</script>

<%= javascript_include_tag 'js/jquery.magnific-popup.min.js' %>
<%= javascript_include_tag 'js/scrollreveal.min.js' %>
<%= javascript_include_tag 'js/style-switcher.js' %>
<%= javascript_include_tag 'js/main.js' %>

