<div class="dropdown-header"><%= t('connections') %></div>
<div class="listview listview--hover">
  <% @friends = current_user.friends %>
  <% @friends.each do |friend| %>
    <% @friend_id = friend.friend_id %>
    <% @xuser = User.find(@friend_id) %>
    <a href="<%= edit_user_path(@xuser) %>" class="listview__item">
      <% if @xuser.avatar.present? %>
        <img src="<%= @xuser.avatar.url(:thumb) %>" class="listview__img" alt="">
      <% else %>
        <img src="/demo/img/profile-pics/1.jpg" class="listview__img" alt="">
      <% end %>
      <div class="listview__content">
        <div class="listview__heading"><%= @xuser.firstname %>&nbsp;@<%= @xuser.nickname %></div>
        <p><%= get_current_status(@xuser.id)%></p>
      </div>
    </a>
  <% end %>
</div>