<div class="messages" style="position: fixed;">
  <div class="messages__sidebar">
    <div class="toolbar toolbar--inner mb-3">
      <div class="toolbar__label">Lounge Chat <small class="orange">@<%= current_user.nickname%></small></div>

      <div class="actions toolbar__actions">
        <a href="" class="actions__item zmdi zmdi-settings"></a>
      </div>
    </div>
    <div class="listview listview--hover">

      <% @friends = current_user.friends %>
      <% @friends.each do |friend| %>
        <% @friend_id = friend.friend_id %>
        <% @xuser = User.find(@friend_id) %>
        <a href="<%= user_path(@xuser) %>" class="listview__item">
          <% if @xuser.avatar.present? %>
            <img src="<%= @xuser.avatar.url(:thumb) %>" class="listview__img" alt="">
          <% else %>
            <img src="/demo/img/profile-pics/4.jpg" class="listview__img" alt="">
          <% end %>
          <div class="listview__content">
            <div class="listview__heading"><%= @xuser.firstname %>&nbsp;@<%= @xuser.nickname %></div>
            <p><%= get_current_status(@xuser.id)%></p>
          </div>
        </a>
      <% end %>

    </div>
  </div>

  <div class="messages__body">
    <div class="messages__header">
      <div class="toolbar toolbar--inner mb-0">
        <div class="toolbar__label">Sharah Conor</div>

        <div class="actions toolbar__actions">
          <i class="actions__item zmdi zmdi-search" data-sa-action="toolbar-search-open"></i>
          <a href="" class="actions__item zmdi zmdi-time"></a>
          <a href="" class="actions__item zmdi zmdi-info-outline"></a>
          <div class="dropdown actions__item">
            <i class="actions__item zmdi zmdi-more-vert" data-toggle="dropdown"></i>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="" class="dropdown-item">Refresh</a>
              <a href="" class="dropdown-item">Delete all</a>
              <a href="" class="dropdown-item">Settings</a>
            </div>
          </div>
        </div>

        <div class="toolbar__search">
          <input type="text" placeholder="Search...">
          <i class="toolbar__search__close zmdi zmdi-long-arrow-left" data-sa-action="toolbar-search-close"></i>
        </div>
      </div>
    </div>

    <div class="messages__content">
      <div class="messages__item">
        <img src="demo/img/profile-pics/1.jpg" class="messages__avatar" alt="">

        <div class="messages__details">
          <p>Quisque consequat arcu eget odio cursus, ut tempor arcu vestibulum. Etiam ex arcu, porta a urna non, lacinia pellentesque orci. Proin semper sagittis erat, eget condimentum sapien viverra et. Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.</p>
          <small><i class="zmdi zmdi-time"></i> 20/04/2017 at 09:00</small>
        </div>
      </div>

      <div class="messages__item messages__item--right">
        <div class="messages__details">
          <p>Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.</p>
          <p>Nunc sed turpis mi. In eu massa a sem pulvinar condimentum.</p>
          <small><i class="zmdi zmdi-time"></i> 20/04/2017 at 09:10</small>
        </div>
      </div>

      <div class="messages__item">
        <img src="demo/img/profile-pics/1.jpg" class="messages__avatar" alt="">

        <div class="messages__details">
          <p>Etiam ex arcumentum</p>
          <small><i class="zmdi zmdi-time"></i> 20/04/2017 at 09:11</small>
        </div>
      </div>

      <div class="messages__item messages__item--right">
        <div class="messages__details">
          <p>Etiam nec facilisis lacus. Nulla imperdiet augue ullamcorper dui ullamcorper, eu laoreet sem consectetur. Aenean et ligula risus. Praesent sed posuere sem. Cum sociis natoque penatibus et magnis dis parturient montes</p>
          <small><i class="zmdi zmdi-time"></i> 20/04/2017 at 09:15</small>
        </div>
      </div>

      <div class="messages__item">
        <img src="demo/img/profile-pics/1.jpg" class="messages__avatar" alt="">

        <div class="messages__details">
          <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
          <p>Nascetur ridiculus mus. Etiam ac tortor ut elit sodales varius. Mauris id ipsum id mauris malesuada tincidunt. Vestibulum elit massa, pulvinar at sapien sed, luctus vestibulum eros. Etiam finibus tristique ante, vitae rhoncus sapien volutpat eget</p>
          <small><i class="zmdi zmdi-time"></i> 20/04/2017 at 09:22</small>
        </div>
      </div>
    </div>

    <div class="messages__reply">
      <textarea class="messages__reply__text" placeholder="Type a message..."></textarea>
    </div>
  </div>
</div>