    <ul class="navigation">
      <li  id="main-menu-home">
        <a href="/"><i class="zmdi zmdi-home white"></i>&nbsp;<%= t('home')%></a>
      </li>
      <li class="navigation__sub"  id="main-menu-messages">
        <a href=""><i class="zmdi zmdi-lock-outline lightlime"></i>&nbsp;<%= t('messages')%></a>
        <ul>
          <li id="menu-compose"><a href="/compose"><i class="zmdi zmdi-hc-lg zmdi-open-in-new lightlime"></i>&nbsp;&nbsp;&nbsp;<%= t('compose')%></a></li>
          <li id="menu-received"><a href="/received"><i class="zmdi zmdi-hc-lg zmdi-inbox lightlime"></i>&nbsp;&nbsp;&nbsp;<%= t('inbox')%>&nbsp;(<%= current_user.received_messages.count.to_s %>)</a></li>
          <li id="menu-sent"><a href="/sent"><i class="zmdi zmdi-hc-lg zmdi-present-to-all lightlime"></i>&nbsp;&nbsp;&nbsp;<%= t('sent')%>&nbsp;(<%= current_user.sent_messages.count.to_s %>)</a></li>
          <li id="menu-contacts"><a href="/contacts"><i class="zmdi zmdi-hc-lg zmdi-accounts-list lightlime"></i>&nbsp;&nbsp;&nbsp;<%= t('contacts')%>&nbsp;(<%= current_user.contacts.count.to_s %>)</a></li>
          <li id="menu-status"><a href="/setstatus"><i class="zmdi zmdi-hc-lg zmdi-mood lightlime"></i>&nbsp;&nbsp;&nbsp;<%= t('status')%></a></li>
          <li id="menu-avatar"><a href="/avatar"><i class="zmdi zmdi-hc-lg zmdi-image lightlime"></i>&nbsp;&nbsp;&nbsp;<%= t('avatar')%></a></li>
        </ul>
      </li>
      <li class="navigation__sub" id="main-menu-social">
        <a href=""><i class="fa fa-group bluesocial"></i>&nbsp;<%= t('social')%></a>
        <ul>
          <li id="menu-profile"><a href="/profile"><i class="zmdi zmdi-hc-lg zmdi-account bluesocial"></i>&nbsp;&nbsp;&nbsp;<%= t('profile')%></a></li>
          <li id="menu-network"><a href="/network"><i class="zmdi zmdi-hc-lg zmdi-accounts-outline bluesocial"></i>&nbsp;&nbsp;&nbsp;<%= t('connections')%>
            (<%= current_user.friends.count.to_s %>)
            </a>
          </li>
          <li id="menu-timeline"><a href="/wall"><i class="zmdi zmdi-hc-lg zmdi-time bluesocial"></i>&nbsp;&nbsp;&nbsp;<%= t('timeline')%>&nbsp;(<%= my_posts_count(current_user.id.to_s) %>)</a></li>
          <li id="menu-pictures"><a href="/gallery"><i class="zmdi zmdi-hc-lg zmdi-collection-image-o bluesocial"></i>&nbsp;&nbsp;&nbsp;<%= t('photos')%>&nbsp;(<%= current_user.pictures.count.to_s %>)</a></li>
          <li id="menu-requests"><a href="/requests"><i class="zmdi zmdi-hc-lg zmdi-accounts-alt bluesocial"></i>&nbsp;&nbsp;&nbsp;<%= t('requests')%>&nbsp;(<%= current_user.requests.count.to_s %>)</a></li>
          <li id="menu-invitations"><a href="/invitations"><i class="zmdi zmdi-hc-lg zmdi-account-box-mail bluesocial"></i>&nbsp;&nbsp;&nbsp;<%= t('invitations')%>&nbsp;(<%= current_user.sent_invitations.count %>)</a></li>
          <li id="menu-notifications"><a href="/notifications"><i class="zmdi zmdi-hc-lg zmdi-notifications bluesocial"></i>&nbsp;&nbsp;&nbsp;<%= t('notifications')%>&nbsp;(<%= current_user.updates.where(:read=>false).count %>)</a></li>
          <li id="menu-blocked"><a href="/blocked"><i class="zmdi zmdi-hc-lg zmdi-block-alt bluesocial"></i>&nbsp;&nbsp;&nbsp;<%= t('blocked')%>&nbsp;(<%= current_user.blocked_users.count.to_s %>)</a></li>
          <li id="menu-close-account"><a href="/close-account"><i class="fa fa-trash-o bluesocial"></i>&nbsp;&nbsp;&nbsp;<%=t('close my account')%></a></li>
        </ul>
      </li>
      <% if not current_user.mail_accounts.blank? %>
          <%
            require 'will_paginate/array'
            @maildir = Maildir.new(current_user.mail_accounts.first.home+"/"+current_user.mail_accounts.first.maildir,false)
            @sentdir = Maildir.new(current_user.mail_accounts.first.home+"/"+current_user.mail_accounts.first.maildir+"/.Sent",false)
            @draftdir = Maildir.new(current_user.mail_accounts.first.home+"/"+current_user.mail_accounts.first.maildir+"/.Drafts",false)
            @archivedir = Maildir.new(current_user.mail_accounts.first.home+"/"+current_user.mail_accounts.first.maildir+"/.Archive",false)
            @trashdir = Maildir.new(current_user.mail_accounts.first.home+"/"+current_user.mail_accounts.first.maildir+"/.Trash",false)
            @spamdir = Maildir.new(current_user.mail_accounts.first.home+"/"+current_user.mail_accounts.first.maildir+"/.Spam",false)
            @tot_inbox = @maildir.list(:cur).count
            @tot_new   = @maildir.list(:new).count
            @tot_spam  = @spamdir.list(:cur).count
            @tot_archive= @archivedir.list(:cur).count
            @tot_outbox= @maildir.list(:tmp).count
            @tot_draft = @draftdir.list(:cur).count
            @tot_sent  = @sentdir.list(:cur).count
            @tot_trash = @trashdir.list(:cur).count
          %>
          <%end%>
          <li class="navigation__sub" id="main-menu-email">
        <a href=""><i class="fa fa-envelope orange"></i> <%= t('email')%></a>
        <ul>
          <li id="menu-compose-email"><a href="/compose-email"><i class="zmdi zmdi-hc-lg zmdi-email orange"></i>&nbsp;&nbsp;&nbsp;<%= t('compose new')%></a></li>
          <li id="menu-inbox"><a href="/inbox"><i class="zmdi zmdi-hc-lg zmdi-email-open orange"></i>&nbsp;&nbsp;&nbsp;<%= t('inbox')%>&nbsp;</a></li>
          <li id="menu-sent-box"><a href="/sent-box"><i class="zmdi zmdi-hc-lg zmdi-local-airport orange"></i>&nbsp;&nbsp;&nbsp;<%= t('sent')%>&nbsp;(<%= @tot_sent.to_s %>) </a></li>
          <li id="menu-draft"><a href="/draft"><i class="zmdi zmdi-hc-lg zmdi-case orange"></i>&nbsp;&nbsp;&nbsp;<%= t('draft')%>&nbsp;&nbsp;(<%= @tot_draft.to_s %>)</a></li>
          <li id="menu-spam"><a href="/spam"><i class="zmdi zmdi-hc-lg zmdi-alert-circle-o orange"></i>&nbsp;&nbsp;&nbsp;<%= t('spam')%>&nbsp;&nbsp;(<%= @tot_spam.to_s %>)</a></li>
          <li id="menu-trash"><a href="/trash"><i class="zmdi zmdi-hc-lg zmdi-shopping-basket orange"></i>&nbsp;&nbsp;&nbsp;<%= t('trash')%>&nbsp;&nbsp;(<%= @tot_archive.to_s %>)</a></li>
          <li id="menu-account-setings"><a href="/agadanga-settings"><i class="zmdi zmdi-hc-lg zmdi-account-box-o orange"></i>&nbsp;&nbsp;&nbsp;<%= t('account settings')%></a></li>
        </ul>
      </li>
      <% if current_user.role? :admin %>
      <li class="navigation__sub" id="main-menu-blog">
        <a href=""><i class="fa fa-calendar red"></i>&nbsp;<%= t('blog')%></a>
        <ul>
          <li id="menu-view-blog"><a href="/blog"><i class="zmdi zmdi-hc-lg zmdi-calendar-check red"></i>&nbsp;&nbsp;&nbsp;<%= t('blog')%></a></li>
          <li id="menu-admin-posts"><a href="/posts"><i class="zmdi zmdi-hc-lg zmdi-calendar-note red"></i>&nbsp;&nbsp;&nbsp;<%= t('posts')%></a></li>
          <li id="menu-admin-tags"><a href="/tags"><i class="zmdi zmdi-hc-lg zmdi-label-heart red"></i>&nbsp;&nbsp;&nbsp;<%= t('tags')%></a></li>
        </ul>
      </li>
      <li class="navigation__sub" id="main-menu-dating">
        <a href=""><i class="zmdi zmdi-hc-lg zmdi-store-24 strumpa"></i>&nbsp;<%= t('store')%></a>
        <ul>
          <li id="menu-dating-profile"><a href="/store"><i class="zmdi zmdi-hc-lg zmdi-star strumpa"></i>&nbsp;&nbsp;<%= t('articles')%></a></li>
          <li id="menu-swipe"><a href="/carts/<%= @cart.id.to_s%>"><i class="zmdi zmdi-hc-lg zmdi-shopping-cart-plus strumpa"></i>&nbsp;&nbsp;&nbsp;<%= t('your shopping cart')%></a></li>
        </ul>
      </li>

      <li class="navigation__sub" id="main-menu-dating">
        <a href=""><i class="zmdi zmdi-favorite-outline pink"></i>&nbsp;<%= t('dating')%></a>
        <ul>
          <li id="menu-dating-profile"><a href="/dating"><i class="zmdi zmdi-hc-lg zmdi-star pink"></i>&nbsp;&nbsp;&nbsp;<%= t('profile')%></a></li>
          <li id="menu-swipe"><a href="/swipe"><i class="zmdi zmdi-hc-lg zmdi-favorite pink"></i>&nbsp;&nbsp;&nbsp;<%= t('swipe')%></a></li>
          <li id="menu-radar"><a href="/radar"><i class="zmdi zmdi-hc-lg zmdi-portable-wifi-changes pink"></i>&nbsp;&nbsp;&nbsp;<%= t('radar')%></a></li>
          <li id="menu-guests"><a href="/guests"><i class="zmdi zmdi-hc-lg zmdi-eye pink"></i>&nbsp;&nbsp;&nbsp;<%= t('guests')%></a></li>
          <li id="menu-likes"><a href="/likes"><i class="zmdi zmdi-hc-lg zmdi-fire pink"></i>&nbsp;&nbsp;&nbsp;<%= t('likes')%></a></li>
          <li id="menu-matches"><a href="/matches"><i class="zmdi zmdi-hc-lg zmdi-male-female pink"></i>&nbsp;&nbsp;&nbsp;<%= t('matches')%></a></li>
          <li id="menu-chat"><a href="/chat"><i class="zmdi zmdi-hc-lg zmdi-comments pink"></i>&nbsp;&nbsp;&nbsp;<%= t('chat')%></a></li>
        </ul>
      </li>
      <% end %>
      <li class="navigation__sub" id="main-menu-settings">
        <a href=""><i class="fa fa-wrench yellow"></i> <%= t('settings')%></a>
        <ul>
          <li id="menu-change-password"><a href="<%= edit_registration_path(current_user)%>"><i class="zmdi zmdi-hc-lg zmdi-lock-outline yellow"></i>&nbsp;&nbsp;&nbsp;<%= t('change password')%></a></li>
          <li id="menu-language"><a href="/language"><i class="fa fa-flag yellow"></i>&nbsp;&nbsp;&nbsp;<%= t('language')%></a></li>
          <li id="menu-privacy"><a href="/privacy-settings"><i class="zmdi zmdi-hc-lg zmdi-eye yellow"></i>&nbsp;&nbsp;&nbsp;<%= t('privacy')%></a></li>
        </ul>
      </li>
      <% if current_user.role? :admin %>
      <li class="navigation__sub"  id="main-menu-admin">
        <a href=""><i class="fa fa-lock lime"></i> <%= t('admin')%></a>
        <ul>
          <li id="menu-dashboard"><a href="/dashboard"><i class="fa fa-dashboard grey"></i>&nbsp;&nbsp;&nbsp;<%= t('dashboard')%></a></li>
          <li id="menu-options"><a href="/options"><i class="zmdi zmdi-hc-lg zmdi-wrench grey"></i>&nbsp;&nbsp;&nbsp;<%= t('options')%></a></li>
          <li id="menu-registrations"><a href="/users"><i class="zmdi zmdi-hc-lg zmdi-accounts grey"></i>&nbsp;&nbsp;&nbsp;<%= t('registrations')%></a></li>
          <li id="menu-registrations"><a href="/quotes"><i class="zmdi zmdi-hc-lg zmdi-quote grey"></i>&nbsp;&nbsp;&nbsp;<%= t('quotes')%></a></li>
          <li id="menu-registrations"><a href="/links"><i class="zmdi zmdi-hc-lg zmdi-link grey"></i>&nbsp;&nbsp;&nbsp;<%= t('link')%></a></li>


        </ul>
      </li>
        <li class="navigation__sub"  id="main-menu-admin">
          <a href=""><i class="zmdi zmdi-hc-lg zmdi-shopping-cart-plus lime"></i> <%= t('backstore')%></a>
          <ul>
            <li id="menu-registrations"><a href="/stock"><i class="zmdi zmdi-hc-lg zmdi-shopping-cart-plus grey"></i>&nbsp;&nbsp;&nbsp;<%= t('in stock')%></a></li>
            <li id="menu-registrations"><a href="/products"><i class="zmdi zmdi-hc-lg zmdi-shopping-cart-plus grey"></i>&nbsp;&nbsp;&nbsp;<%= t('products')%></a></li>
            <li id="menu-registrations"><a href="/carts"><i class="zmdi zmdi-hc-lg zmdi-shopping-cart-plus grey"></i>&nbsp;&nbsp;&nbsp;<%= t('carts')%></a></li>
            <li id="menu-registrations"><a href="/orders"><i class="zmdi zmdi-hc-lg zmdi-truck grey"></i>&nbsp;&nbsp;&nbsp;<%= t('orders')%></a></li>
            <li id="menu-registrations"><a href="/payments"><i class="zmdi zmdi-hc-lg zmdi-money grey"></i>&nbsp;&nbsp;&nbsp;<%= t('payments')%></a></li>
            <li id="menu-registrations"><a href="/transactions"><i class="zmdi zmdi-hc-lg zmdi-card grey"></i>&nbsp;&nbsp;&nbsp;<%= t('transactions')%></a></li>
            <li id="menu-registrations"><a href="/invoices"><i class="zmdi zmdi-hc-lg zmdi-view-headline grey"></i>&nbsp;&nbsp;&nbsp;<%= t('invoices')%></a></li>
          </ul>
        </li>

        <li class="navigation__sub" id="main-menu-status">
        <a href=""><i class="zmdi zmdi-trending-up lime"></i> Status</a>
        <ul>
          <li id="menu-app-mon"><a href="/appmon"><i class="zmdi zmdi-hc-lg zmdi-desktop-windows lime"></i>&nbsp;&nbsp;&nbsp;App Monitoring</a></li>
          <li id="menu-visitors"><a href="/visitors"><i class="zmdi zmdi-hc-lg zmdi-accounts-alt lime"></i>&nbsp;&nbsp;&nbsp;Visitors</a></li>
          <li id="menu-server-health"><a href="/serverhealth"><i class="zmdi zmdi-hc-lg zmdi-globe-alt lime"></i>&nbsp;&nbsp;&nbsp;Server Health</a></li>
          <li id="menu-admin-posts"><a href="/database"><i class="zmdi zmdi-hc-lg zmdi-storage lime"></i>&nbsp;&nbsp;&nbsp;Database</a></li>
          <li id="menu-world-ping"><a href="/worldping"><i class="zmdi zmdi-hc-lg zmdi-open-in-browser lime"></i>&nbsp;&nbsp;&nbsp;World Ping</a></li>
          <li id="menu-circleci"><a href="/cicleci"><i class="zmdi zmdi-hc-lg zmdi-check lime"></i>&nbsp;&nbsp;&nbsp;C.Integrations</a></li>
          <li id="menu-exceptions"><a href="/exceptions"><i class="zmdi zmdi-hc-lg zmdi-minus-circle-outline lime"></i>&nbsp;&nbsp;&nbsp;Exceptions</a></li>
        </ul>
      </li>
    </ul>
    <% end %>