<div class="row" id="zerozero-header">
  <div class="col-xs-2">
    <%= link_to(image_tag("logo15.png",:class=>'imagelogo',:alt=>"(x.0)"),"/")%>
  </div>
  <div class="col-xs-8">
      <%= form_tag "/search",:method => "get",:role=>'search' do %>
        <%= hidden_field_tag :area, 'firstname' %>
        <div class="form-group none" id="searchbox">
          <div class="input-group">
            <div id="remote">
              <%= text_field_tag :findthis,params[:query],{:class=>'typeahead form-controls input-sm',:placeholder=>d4x_sanitizer(t('search'))} %>
            </div>
            <span class="input-group-btn">
				   				<%= button_tag raw('<i class="fa fa-search white"></i>'),:id => "search-submit",:class=>'btn btn-primary btn-sm',:method => "post",:title=>d4x_sanitizer(t('search'))%>
					   		</span>
          </div>
        </div>
      <% end %>
    <p id="ttgif" class="main_logo_text">:: Net337 ::</p>
    <p class="motto">
      <%= link_to t("Timeline"),"/wall" %> |
      <%= link_to t("messages"),"/received" %> |
      <%= link_to t("blog"),"/blog" %> |
      <%= link_to t("mail"),"/email" %>
    </p>
  </div>
  <div class="col-xs-2 alignleft">
    <a href="#" title="Compose" id="link-compose" >
      <i class="fa fa-2x fa-search" id="icon-compose"></i>
    </a>
  </div>
</div>
