<div id="text-content">
	<p id="notice">
		<%= notice %>
	</p>
	<h2><%= t('Update feed') %></h2>

<%= render 'form' %>

<%= link_to t('Show'), @mini_post_comment_liking %> |
<%= link_to t('Back'), mini_post_comment_likings_path %>
</div>
