<% @exist_option =  Option.where(:name=>'DASHBOARD_SSMS_VISIBLE').count > 0 %>
<% if @exist_option %>
	<% @option =  Option.where(:name=>'DASHBOARD_SSMS_VISIBLE').first.value %>
	<% if @option == "Y" %>
		<%= content_for :head do %>
			<%= javascript_include_tag 'd4x-ssms' %>
		<% end %>
	
		<div class="chat-widget">
				<div id="menu-title-2013">
	        		   <%= link_to_function image_tag("bullet_toggle_plus.png",:class=>"bullet"), "$('#sms-stuff').toggle()" %>
					   <%= d4x_sanitizer(t('SMS Blast!')) %>
				</div>
	
		   <div id="sms-stuff"> 
	
			<div id="widget-controls">
				<% form_tag("http://webmaster.smsitaly.com/ita/sms/sms.asp", :method => "post") %>
			  <br />
			  <div id="actions">
			    <%= label_tag "Sender",nil,{:class=>'lcd'} %><br />
			    <%= text_field_tag :sender,current_user.nickname ,:maxlength=>15,:name => 'M',:size => 26,:class=>'center',:class=>'def-input' %>
			  </div>
			  <br />
			  <div id="actions">
			    <%= label_tag 'International Prefix',nil,{:class=>'lcd'} %><br />
			    <%= select_tag(:dest_int_prefix , options_for_select([
					['ITALY +39','39'],
					['AFGHANISTAN +93','93'],
					['ALBANIA +355','355'],
					['ALGERIA +213','213'],
					['AMER. SAMOA +684','684'],
					['ANDORRA +376','376'],
					['ANGOLA +244 ','244'],
					['ANTIG.&BARBUDA +1','1 '],
					['ARGENTINA +54','54'],
					['ARMENIA +374','374'],
					['ARUBA +297','297'],
					['ASCENSION +247','247'],
					['AUSTRALIA +61','61'],
					['AUSTRIA +43 ','43'],
					['AZERBAIJAN +994 ','994'],
					['BAHRAIN +973','973'],
					['BANGLADESH +880 ','880'],
					['BARBADOS +1 ','1 '],
					['BELARUS +375','375'],
					['BELGIUM +32 ','32'],
					['BELIZE +501 ','501'],
					['BENIN +229','229'],
					['BERMUDA +1','1 '],
					['BHUTAN +975 ','975'],
					['BOLIVIA +591','591'],
					['BOSNIA +387 ','387'],
					['BOTSWANA +267','267'],
					['BRAZIL +55','55'],
					['BR.VIRGIN ISL. +11','11'],
					['BRUNEI +673 ','673'],
					['BULGARIA +359','359'],
					['BURKINA FASO +226','226'],
					['BURUNDI +257','257'],
					['CAMBODIA +855','855'],
					['CAMEROON +237','237'],
					['CANADA +1','1 '],
					['CAPE VERDE +238 ','238'],
					['CAYMAN ISLANDS +1','1 '],
					['C.AFRICAN REP +23','236 6'],
					['CHAD +235','235'],
					['CHILE +56','56'],
					['CHINA +86','86'],
					['COLOMBIA +57','57'],
					['COMOROS +269','269'],
					['CONGO +242','242'],
					['CONGO REP.OF +243','243'],
					['COOK ISLANDS +682','682'],
					['COSTA RICA +506 ','506'],
					['CROATIA +385','385'],
					['CUBA +53 ','53'],
					['CYPRUS +357 ','357'],
					['CZECH REPUB. +420','420'],
					['DENMARK +45 ','45'],
					['DIEGO GARCIA +246','246'],
					['DJIBOUTI +253','253'],
					['DOMINICA +1 ','1 '],
					['DOMINICAN REP. +1','1 '],
					['ECUADOR +593','593'],
					['EGYPT +20','20'],
					['EL SALVADOR +503','503'],
					['EQUAT. GUINEA +240','240'],
					['ERITREA +291','291'],
					['ESTONIA +372','372'],
					['ETHIOPIA +251','251'],
					['FALKLAND ISL.+500','500'],
					['FAROE ISLANDS+298','298'],
					['FIJI +679','679'],
					['FINLAND +358','358'],
					['FRANCE +33','33'],
					['FR.GUIANA +594 ','594'],
					['FR POLYNESIA +689 ','689'],
					['FR. W.INDIES +590','590'],
					['GABON +241','241'],
					['GAMBIA +220 ','220'],
					['GEORGIA +995','995'],
					['GERMANY +49 ','49'],
					['GHANA +233','233'],
					['GIBRALTAR +350','350'],
					['GREECE +30','30'],
					['GREENLAND +299','299'],
					['GRENADA +1','1 '],
					['GUAM +1','1 '],
					['GUATEMALA +502','502'],
					['GUINEA +224 ','224'],
					['GUIN.BISSAU +245','245'],
					['GUYANA (BR) +592','592'],
					['HAITI +509','509'],
					['HONDURAS +504','504'],
					['HONG KONG +852','852'],
					['HUNGARY +36 ','36'],
					['ICELAND +354','354'],
					['INDIA +91','91'],
					['INDONESIA +62','62'],
					['IRAN +98 ','98'],
					['IRAQ +964','964'],
					['IRELAND +353','353'],
					['ISRAEL +972 ','972'],
					['IVORY COAST +225','225'],
					['JAMAICA +1','1 '],
					['JAPAN +81','81'],
					['JORDAN +962 ','962'],
					['KAZAKHSTAN +7','7 '],
					['KENYA +254','254'],
					['KIRIBATI +686','686'],
					['KOREA +850','850'],
					['KOSOVO +377 ','377'],
					['KUWAIT +965 ','965'],
					['KYRGYZSTAN +996 ','996'],
					['LAO P.D.R. +856 ','856'],
					['LATVIA +371 ','371'],
					['LEBANON +961','961'],
					['LESOTHO +266','266'],
					['LIBERIA +231','231'],
					['LIBYA +218','218'],
					['LIECHTENSTEIN +423 ','423'],
					['LITHUANIA +370','370'],
					['LUXEMBOURG +352 ','352'],
					['MACAO +853','853'],
					['MACEDONIA +389','389'],
					['MADAGASCAR +261 ','261'],
					['MALAWI +265 ','265'],
					['MALAYSIA +60','60'],
					['MALDIVES +960','960'],
					['MALI +223','223'],
					['MALTA +356','356'],
					['MARSHALL ISL. +692 ','692'],
					['MARTINIQUE +596 ','596'],
					['MAURITANIA +222 ','222'],
					['MAURITIUS +230','230'],
					['MEXICO +52','52'],
					['MICRONESIA +691 ','691'],
					['MOLDOVA +373','373'],
					['MONACO +377 ','377'],
					['MONGOLIA +976','976'],
					['MONTENEGRO +382 ','382'],
					['MOROCCO +212','212'],
					['MOZAMBIQUE +258 ','258'],
					['MYANMAR +95 ','95'],
					['NAMIBIA +264','264'],
					['NAURU +674','674'],
					['NEPAL +977','977'],
					['NETHERLANDS +31','31'],
					['NETH.ANTILLES +59','59'],
					['NEW CALEDON.+687','687'],
					['NEW ZEALAND +64 ','64'],
					['NICARAGUA +505','505'],
					['NIGER +227','227'],
					['NIGERIA +234','234'],
					['NIUE +683','683'],
					['MARIANA ISLANDS ','1 '],
					['NORWAY +47','47'],
					['OMAN +968','968'],
					['PAKISTAN +92','92'],
					['PALAU +680','680'],
					['PALESTINE +970','970'],
					['PALESTINE +972','972'],
					['PANAMA +507 ','507'],
					['PAPUA N.GUIN.+675','675'],
					['PARAGUAY +595','595'],
					['PERU +51 ','51'],
					['PHILIPPINES +63 ','63'],
					['POLAND +48','48'],
					['PORTUGAL +351','351'],
					['PUERTO RICO +1','1 '],
					['QATAR +974','974'],
					['REUNION +262','262'],
					['ROMANIA +40 ','40'],
					['RUSSIA +7','7 '],
					['RWANDA +250 ','250'],
					['SAMOA +685','685'],
					['SAN MARINO +378 ','378'],
					['SAO TOME +239 ','239'],
					['SATELLITE +870','870'],
					['SATELLITE +881','881'],
					['SATELLITE +882','882'],
					['SAUDI ARABIA +966','966'],
					['SENEGAL +221','221'],
					['SERBIA +381 ','381'],
					['SEYCHELLES +248 ','248'],
					['SIERRA LEONE +232','232'],
					['SINGAPORE +65','65'],
					['SLOVAKIA +421','421'],
					['SLOVENIA +386','386'],
					['SOLOMON ISL. +677','677'],
					['SOMALIA +252','252'],
					['SOUTH AFRICA +27','27'],
					['SOUTH KOREA +82 ','82'],
					['SOUTH SUDAN +211','211'],
					['SPAIN +34','34'],
					['SRI LANKA +94','94'],
					['ST.ELENA +290','290'],
					['ST.KITTS & NEVIS +1','1 '],
					['1ST.LUCIA +1','1 '],
					['ST.PIERRE +50 ','50'],
					['ST.VINCENT','1 '],
					['SUDAN +211','211'],
					['SUDAN +249','249'],
					['SURINAME +597','597'],
					['SWAZILAND +268','268'],
					['SWEDEN +46','46'],
					['SWITZERLAND +41 ','41'],
					['SYRIA +963','963'],
					['TAIWAN +886 ','886'],
					['TAJIKISTAN +992 ','992'],
					['TANZANIA +255','255'],
					['THAILAND +66','66'],
					['TIMOR LESTE +670','670'],
					['TOGO +228','228'],
					['TOKELAU +690','690'],
					['TONGA +676','676'],
					['TRIN.&TOBAGO +1','1 '],
					['TUNISIA +216','216'],
					['TURKEY +90','90'],
					['TURKMENISTAN +993','993'],
					['TURKS & CAICOS +1','1 '],
					['TUVALU +688 ','688'],
					['UGANDA +256 ','256'],
					['UK +44','4 '],
					['UKRAINE +380','380'],
					['ARAB EMIRATES +97 ','97'],
					['URUGUAY +598','598'],
					['USA +1','1 '],
					['UZBEKISTAN +998 ','998'],
					['VANUATU +678','678'],
					['VENEZUELA +58','58'],
					['VIETNAM +84 ','84'],
					['WALL.&FUTUNA +681','681'],
					['YEMEN +967','967'],
					['ZAMBIA +260	','260'],
					['ZIMBABWE +263','263']], 0)) %>
			 </div>
			    <div align="center" id="other-prefix" class="none">
			  	  	<%= label_tag "mobile" %><br />
			    	<%= text_field_tag :dest_loc_prefix,nil,{:name => "Prefisso" ,:maxlength=>3,:size => 26,:class=>"center def-input",:id=>"dest_local_prefix2"} %><br>
			     </div>
			      <div id="italian-prefix">
			      	<%= label_tag "mobile" %><br />
			    <%= select_tag(:dest_loc_prefix , options_for_select([
					['310 	ELSACOM','310'],
					['311 	FASTWEB','311'],
					['319 	INTERMATICA','319'],
					['350 	NOVERCA','350'],
					['371 	POSTE MOBILE','371'],
					['313 	RFI','313'],
					['311 	TELESPAZIO','311'],
					['330 	TIM','330'],
					['331 	TIM','331'],
					['333 	TIM','333'],
					['334 	TIM','334'],
					['335 	TIM','335'],
					['336 	TIM','336'],
					['337 	TIM','337'],
					['338 	TIM','338'],
					['339 	TIM','339'],
					['360 	TIM','360'],
					['363 	TIM','363'],
					['366 	TIM','366'],
					['368 	TIM','368'],
					['370 	TIM','370'],
					['373 	TRE (H3G)','373'],
					['390 	TRE (H3G)','390'],
					['391 	TRE (H3G)','391'],
					['392 	TRE (H3G)','392'],
					['393 	TRE (H3G)','393'],
					['397 	TRE (H3G)','397'],
					['340 	VODAFONE ','340'],
					['342 	VODAFONE','342'],
					['343 	VODAFONE','343'],
					['345 	VODAFONE','345'],
					['346 	VODAFONE','346'],
					['347 	VODAFONE','347'],
					['348 	VODAFONE','348'],
					['349 	VODAFONE','349'],
					['377 	VODAFONE','377'],
					['320 	WIND','320'],
					['323 	WIND','323'],
					['327 	WIND','327'],
					['328 	WIND','328'],
					['329 	WIND','329'],
					['380 	WIND','380'],
					['383 	WIND','383'],
					['388 	WIND','388'],
					['389 	WIND','389']], 0),:id=>"dest_loc_prefix") %>
			    
			  </div>
			    <div id="actions">
			    <%= label_tag "Number",nil,{:class=>'lcd'} %><br />
			    <%= text_field_tag(:dest_number,nil,{:name => 'Numero',:size => 26,:maxlength=>20,:class=>'center def-input'}) %>
			  </div>
			    <div id="actions">
			    <%= label_tag "complete Number",nil,{:class=>'lcd'} %><br />
			    <%= text_field_tag :full_number ,'+39 310',{:name => 'N',:size =>26 ,:readonly => true,:class=>'center def-input'} %>
			  </div>
			  <br />
			   <div id="actions">
			    <%= label_tag "Message",nil,{:class=>'lcd'} %><br />
			    <%= text_area_tag "Message", nil,:cols =>24,:rows => 4,:id=>"message" %><br>
			    <%= text_field_tag :remaininchars,150,{:id =>'remainingchars', :size => 2 ,:readonly => true,:class=>'center def-input'}%>
			  </div>
		</div>	  
			  
			  <div id="actions" align="center">
				<%= submit_tag "send", :class=>'button-grey-d4x'%>
			    </div>
	</div>
		
</div>
	<% end %>
<% end %>
