<% content_for :head do %>
  <%= javascript_include_tag "d4x-order.js" %>
<% end %>

<%= form_for(@order) do |f| %>
  <%= hidden_field_tag :cart_id, @order.cart_id %>
 	<h4><%= d4x_sanitizer(t('place order'))%></h4>
  <br />
 	<p>
    <%= f.text_field :first_name,:class=> " form-control",:placeholder=>d4x_sanitizer(t('firstname'))%>
    <%= f.text_field :last_name,:class=> " form-control",:placeholder=>d4x_sanitizer(t('lastname'))%>
    <%= f.text_field :address,:class=> " form-control",:placeholder=>d4x_sanitizer(t('address'))%>
    <%= f.text_field :town,:class=> " form-control",:placeholder=>d4x_sanitizer(t('town')) %>
    <%= f.text_field :city,:class=> " form-control",:placeholder=>d4x_sanitizer(t('city'))%>
    <%= f.text_field :zip,:class=>' form-control',:placeholder=>d4x_sanitizer(t('ZIP')),:maxlength=>5 %>
    <%= f.text_field :telephone,:class=>' form-control',:maxlength=>50,:placeholder=>d4x_sanitizer(t('telephone')) %>
    <%= f.select(:country , options_for_select([
    [t('choose'), ' '],
    ['Afghanistan', 'AF'],
    ['Albania', 'AL'],
    ['Algeria', 'DZ'],
    ['American Samoa', 'AS'],
    ['Andorra', 'AD'],
    ['Angola', 'AO'],
    ['Anguilla', 'AI'],
    ['Antarctica', 'AQ'],
    ['Antigua & Barbuda', 'AG'],
    ['Argentina', 'AR'],
    ['Armenia', 'AM'],
    ['Aruba', 'AW'],
    ['Australia', 'AU'],
    ['Austria', 'AT'],
    ['Azerbaijan', 'AZ'],
    ['Bahamas', 'BS'],
    ['Bahrain', 'BH'],
    ['Bangladesh', 'BD'],
    ['Barbados', 'BB'],
    ['Belarus', 'BY'],
    ['Belgium', 'BE'],
    ['Belize', 'BZ'],
    ['Benin', 'BJ'],
    ['Bermuda', 'BM'],
    ['Bhutan', 'BT'],
    ['Bolivia', 'BO'],
    ['Bosnia and Herzeg.', 'BA'],
    ['Botswana', 'BW'],
    ['Bouvet Island', 'BV'],
    ['Brazil', 'BR'],
    ['British Ind. Ocean', 'IO'],
    ['Brunei Darussalam', 'BN'],
    ['Bulgaria', 'BG'],
    ['Burkina Faso', 'BF'],
    ['Burundi', 'BI'],
    ['Cambodia', 'KH'],
    ['Cameroon', 'CM'],
    ['Canada', 'CA'],
    ['Cape Verde', 'CV'],
    ['Cayman Islands', 'KY'],
    ['Central Afr.Republic', 'CF'],
    ['Chad', 'TD'],
    ['Chile', 'CL'],
    ['China', 'CN'],
    ['Christmas Island', 'CX'],
    ['Cocos Islands', 'CC'],
    ['Colombia', 'CO'],
    ['Comoros', 'KM'],
    ['Congo', 'CG'],
    ['Congo, Republic of', 'CD'],
    ['Cook Islands', 'CK'],
    ['Costa Rica', 'CR'],
    ['Cote d`Ivoire', 'CI'],
    ['Croatia (Hrvatska)', 'HR'],
    ['Cuba', 'CU'],
    ['Cyprus', 'CY'],
    ['Czech Republic', 'CZ'],
    ['Denmark', 'DK'],
    ['Djibouti', 'DJ'],
    ['Dominica', 'DM'],
    ['Dominican Republic', 'DO'],
    ['East Timor', 'TP'],
    ['Ecuador', 'EC'],
    ['Egypt', 'EG'],
    ['El Salvador', 'SV'],
    ['Equatorial Guinea', 'GQ'],
    ['Eritrea', 'ER'],
    ['Estonia', 'EE'],
    ['Ethiopia', 'ET'],
    ['Falkland Islands', 'FK'],
    ['Faroe Islands', 'FO'],
    ['Fiji', 'FJ'],
    ['Finland', 'FI'],
    ['France', 'FR'],
    ['France, Metropol.', 'FX'],
    ['French Guiana', 'GF'],
    ['French Polynesia', 'PF'],
    ['French Sout Terr.', 'TF'],
    ['Gabon', 'GA'],
    ['Gambia', 'GM'],
    ['Georgia', 'GE'],
    ['Germany', 'DE'],
    ['Ghana', 'GH'],
    ['Gibraltar', 'GI'],
    ['Greece', 'GR'],
    ['Greenland', 'GL'],
    ['Grenada', 'GD'],
    ['Guadeloupe', 'GP'],
    ['Guam', 'GU'],
    ['Guatemala', 'GT'],
    ['Guinea', 'GN'],
    ['Guinea-Bissau', 'GW'],
    ['Guyana', 'GY'],
    ['Haiti', 'HT'],
    ['Heard Mc Donald', 'HM'],
    ['Holy See (Vatican)', 'VA'],
    ['Honduras', 'HN'],
    ['Hong Kong', 'HK'],
    ['Hungary', 'HU'],
    ['Iceland', 'IS'],
    ['India', 'IN'],
    ['Indonesia', 'ID'],
    ['Iran', 'IR'],
    ['Iraq', 'IQ'],
    ['Ireland', 'IE'],
    ['Israel', 'IL'],
    ['Italy', 'IT'],
    ['Jamaica', 'JM'],
    ['Japan', 'JP'],
    ['Jordan', 'JO'],
    ['Kazakhstan', 'KZ'],
    ['Kenya', 'KE'],
    ['Kiribati', 'KI'],
    ['Korea, Democratic', 'KP'],
    ['Korea, Republic of', 'KR'],
    ['Kuwait', 'KW'],
    ['Kyrgyzstan', 'KG'],
    ['Lao Peoples', 'LA'],
    ['Latvia', 'LV'],
    ['Lebanon', 'LB'],
    ['Lesotho', 'LS'],
    ['Liberia', 'LR'],
    ['Libyan', 'LY'],
    ['Liechtenstein', 'LI'],
    ['Lithuania', 'LT'],
    ['Luxembourg', 'LU'],
    ['Macau', 'MO'],
    ['Macedonia', 'MK'],
    ['Madagascar', 'MG'],
    ['Malawi', 'MW'],
    ['Malaysia', 'MY'],
    ['Maldives', 'MV'],
    ['Mali', 'ML'],
    ['Malta', 'MT'],
    ['Marshall Islands', 'MH'],
    ['Martinique', 'MQ'],
    ['Mauritania', 'MR'],
    ['Mauritius', 'MU'],
    ['Mayotte', 'YT'],
    ['Mexico', 'MX'],
    ['Micronesia', 'FM'],
    ['Moldova', 'MD'],
    ['Monaco', 'MC'],
    ['Mongolia', 'MN'],
    ['Montserrat', 'MS'],
    ['Morocco', 'MA'],
    ['Mozambique', 'MZ'],
    ['Myanmar', 'MM'],
    ['Namibia', 'NA'],
    ['Nauru', 'NR'],
    ['Nepal', 'NP'],
    ['Netherlands', 'NL'],
    ['Netherlands Antilles', 'AN'],
    ['New Caledonia', 'NC'],
    ['New Zealand', 'NZ'],
    ['Nicaragua', 'NI'],
    ['Niger', 'NE'],
    ['Nigeria', 'NG'],
    ['Niue', 'NU'],
    ['Norfolk Island', 'NF'],
    ['Northern Mariana Isl', 'MP'],
    ['Norway', 'NO'],
    ['Oman', 'OM'],
    ['Pakistan', 'PK'],
    ['Palau', 'PW'],
    ['Panama', 'PA'],
    ['Papua New Guinea', 'PG'],
    ['Paraguay', 'PY'],
    ['Peru', 'PE'],
    ['Philippines', 'PH'],
    ['Pitcairn', 'PN'],
    ['Poland', 'PL'],
    ['Portugal', 'PT'],
    ['Puerto Rico', 'PR'],
    ['Qatar', 'QA'],
    ['Reunion', 'RE'],
    ['Romania', 'RO'],
    ['Russian Federation', 'RU'],
    ['Rwanda', 'RW'],
    ['Saint Kitts & Nevis', 'KN'],
    ['Saint LUCIA', 'LC'],
    ['Saint Vincent', 'VC'],
    ['Samoa', 'WS'],
    ['San Marino', 'SM'],
    ['Sao Tome & Principe', 'ST'],
    ['Saudi Arabia', 'SA'],
    ['Senegal', 'SN'],
    ['Seychelles', 'SC'],
    ['Sierra Leone', 'SL'],
    ['Singapore', 'SG'],
    ['Slovakia', 'SK'],
    ['Slovenia', 'SI'],
    ['Solomon Islands', 'SB'],
    ['Somalia', 'SO'],
    ['South Africa', 'ZA'],
    ['South Georgia', 'GS'],
    ['Spain', 'ES'],
    ['Sri Lanka', 'LK'],
    ['St. Helena', 'SH'],
    ['St.Pierre & Miquelon', 'PM'],
    ['Sudan', 'SD'],
    ['Suriname', 'SR'],
    ['Svalbard', 'SJ'],
    ['Swaziland', 'SZ'],
    ['Sweden', 'SE'],
    ['Switzerland', 'CH'],
    ['Syrian Arab Republic', 'SY'],
    ['Taiwan', 'TW'],
    ['Tajikistan', 'TJ'],
    ['Tanzania', 'TZ'],
    ['Thailand', 'TH'],
    ['Togo', 'TG'],
    ['Tokelau', 'TK'],
    ['Tonga', 'TO'],
    ['Trinidad and Tobago', 'TT'],
    ['Tunisia', 'TN'],
    ['Turkey', 'TR'],
    ['Turkmenistan', 'TM'],
    ['Turks & Caicos Isl.', 'TC'],
    ['Tuvalu', 'TV'],
    ['Uganda', 'UG'],
    ['Ukraine', 'UA'],
    ['United Arab Emir.', 'AE'],
    ['United Kingdom', 'GB'],
    ['United States', 'US'],
    ['United States Minor', 'UM'],
    ['Uruguay', 'UY'],
    ['Uzbekistan', 'UZ'],
    ['Vanuatu', 'VU'],
    ['Venezuela', 'VE'],
    ['Viet Nam', 'VN'],
    ['Virgin Islands (Brit)', 'VG'],
    ['Virgin Islands (U.S.)', 'VI'],
    ['Wallis & Futuna Isl.', 'WF'],
    ['Western Sahara', 'EH'],
    ['Yemen', 'YE'],
    ['Yugoslavia', 'YU'],
    ['Zambia', 'ZM'],
    ['Zimbabwe', 'ZW']], '0'), :class => "select2 form-control input-transparent" ,:size =>"20") %>
  </p>
  <% if all_services(@cart.id) %>
    <h5><%= check_box_tag :same_address %>&nbsp;&nbsp;&nbsp;<%= d4x_sanitizer(t('shipping address is billing address')) %></h5>
    <br />
    <h4 align="center"><%= d4x_sanitizer(t('shipping details'))%></h4>
    <p>
          <%= f.text_field :shipping_first_name,:class=>' form-control',:maxlength=>50,:placeholder=>"Shipping First Name" %>
          <%= f.text_field :shipping_last_name,:class=> " form-control",:placeholder=>d4x_sanitizer(t('lastname'))%>
          <%= f.text_field :shipping_address,:class=> " form-control",:placeholder=>d4x_sanitizer(t('shipping address'))%>
          <%= f.text_field :shipping_town,:class=> " form-control",:placeholder=>d4x_sanitizer(t('shipping town')) %>
          <%= f.text_field :shipping_city,:class=> " form-control",:placeholder=>d4x_sanitizer(t('shipping city')) %>
          <%= f.text_field :shipping_zip,:class=>' form-control',:placeholder=>d4x_sanitizer(t('shipping zip')),:maxlength=>5 %>
          <%= f.select(:shipping_country , options_for_select([
          [t('choose'), ' '],
          ['Afghanistan', 'AF'],
          ['Albania', 'AL'],
          ['Algeria', 'DZ'],
          ['American Samoa', 'AS'],
          ['Andorra', 'AD'],
          ['Angola', 'AO'],
          ['Anguilla', 'AI'],
          ['Antarctica', 'AQ'],
          ['Antigua & Barbuda', 'AG'],
          ['Argentina', 'AR'],
          ['Armenia', 'AM'],
          ['Aruba', 'AW'],
          ['Australia', 'AU'],
          ['Austria', 'AT'],
          ['Azerbaijan', 'AZ'],
          ['Bahamas', 'BS'],
          ['Bahrain', 'BH'],
          ['Bangladesh', 'BD'],
          ['Barbados', 'BB'],
          ['Belarus', 'BY'],
          ['Belgium', 'BE'],
          ['Belize', 'BZ'],
          ['Benin', 'BJ'],
          ['Bermuda', 'BM'],
          ['Bhutan', 'BT'],
          ['Bolivia', 'BO'],
          ['Bosnia and Herzeg.', 'BA'],
          ['Botswana', 'BW'],
          ['Bouvet Island', 'BV'],
          ['Brazil', 'BR'],
          ['British Ind. Ocean', 'IO'],
          ['Brunei Darussalam', 'BN'],
          ['Bulgaria', 'BG'],
          ['Burkina Faso', 'BF'],
          ['Burundi', 'BI'],
          ['Cambodia', 'KH'],
          ['Cameroon', 'CM'],
          ['Canada', 'CA'],
          ['Cape Verde', 'CV'],
          ['Cayman Islands', 'KY'],
          ['Central Afr.Republic', 'CF'],
          ['Chad', 'TD'],
          ['Chile', 'CL'],
          ['China', 'CN'],
          ['Christmas Island', 'CX'],
          ['Cocos Islands', 'CC'],
          ['Colombia', 'CO'],
          ['Comoros', 'KM'],
          ['Congo', 'CG'],
          ['Congo, Republic of', 'CD'],
          ['Cook Islands', 'CK'],
          ['Costa Rica', 'CR'],
          ['Cote d`Ivoire', 'CI'],
          ['Croatia (Hrvatska)', 'HR'],
          ['Cuba', 'CU'],
          ['Cyprus', 'CY'],
          ['Czech Republic', 'CZ'],
          ['Denmark', 'DK'],
          ['Djibouti', 'DJ'],
          ['Dominica', 'DM'],
          ['Dominican Republic', 'DO'],
          ['East Timor', 'TP'],
          ['Ecuador', 'EC'],
          ['Egypt', 'EG'],
          ['El Salvador', 'SV'],
          ['Equatorial Guinea', 'GQ'],
          ['Eritrea', 'ER'],
          ['Estonia', 'EE'],
          ['Ethiopia', 'ET'],
          ['Falkland Islands', 'FK'],
          ['Faroe Islands', 'FO'],
          ['Fiji', 'FJ'],
          ['Finland', 'FI'],
          ['France', 'FR'],
          ['France, Metropol.', 'FX'],
          ['French Guiana', 'GF'],
          ['French Polynesia', 'PF'],
          ['French Sout Terr.', 'TF'],
          ['Gabon', 'GA'],
          ['Gambia', 'GM'],
          ['Georgia', 'GE'],
          ['Germany', 'DE'],
          ['Ghana', 'GH'],
          ['Gibraltar', 'GI'],
          ['Greece', 'GR'],
          ['Greenland', 'GL'],
          ['Grenada', 'GD'],
          ['Guadeloupe', 'GP'],
          ['Guam', 'GU'],
          ['Guatemala', 'GT'],
          ['Guinea', 'GN'],
          ['Guinea-Bissau', 'GW'],
          ['Guyana', 'GY'],
          ['Haiti', 'HT'],
          ['Heard Mc Donald', 'HM'],
          ['Holy See (Vatican)', 'VA'],
          ['Honduras', 'HN'],
          ['Hong Kong', 'HK'],
          ['Hungary', 'HU'],
          ['Iceland', 'IS'],
          ['India', 'IN'],
          ['Indonesia', 'ID'],
          ['Iran', 'IR'],
          ['Iraq', 'IQ'],
          ['Ireland', 'IE'],
          ['Israel', 'IL'],
          ['Italy', 'IT'],
          ['Jamaica', 'JM'],
          ['Japan', 'JP'],
          ['Jordan', 'JO'],
          ['Kazakhstan', 'KZ'],
          ['Kenya', 'KE'],
          ['Kiribati', 'KI'],
          ['Korea, Democratic', 'KP'],
          ['Korea, Republic of', 'KR'],
          ['Kuwait', 'KW'],
          ['Kyrgyzstan', 'KG'],
          ['Lao Peoples', 'LA'],
          ['Latvia', 'LV'],
          ['Lebanon', 'LB'],
          ['Lesotho', 'LS'],
          ['Liberia', 'LR'],
          ['Libyan', 'LY'],
          ['Liechtenstein', 'LI'],
          ['Lithuania', 'LT'],
          ['Luxembourg', 'LU'],
          ['Macau', 'MO'],
          ['Macedonia', 'MK'],
          ['Madagascar', 'MG'],
          ['Malawi', 'MW'],
          ['Malaysia', 'MY'],
          ['Maldives', 'MV'],
          ['Mali', 'ML'],
          ['Malta', 'MT'],
          ['Marshall Islands', 'MH'],
          ['Martinique', 'MQ'],
          ['Mauritania', 'MR'],
          ['Mauritius', 'MU'],
          ['Mayotte', 'YT'],
          ['Mexico', 'MX'],
          ['Micronesia', 'FM'],
          ['Moldova', 'MD'],
          ['Monaco', 'MC'],
          ['Mongolia', 'MN'],
          ['Montserrat', 'MS'],
          ['Morocco', 'MA'],
          ['Mozambique', 'MZ'],
          ['Myanmar', 'MM'],
          ['Namibia', 'NA'],
          ['Nauru', 'NR'],
          ['Nepal', 'NP'],
          ['Netherlands', 'NL'],
          ['Netherlands Antilles', 'AN'],
          ['New Caledonia', 'NC'],
          ['New Zealand', 'NZ'],
          ['Nicaragua', 'NI'],
          ['Niger', 'NE'],
          ['Nigeria', 'NG'],
          ['Niue', 'NU'],
          ['Norfolk Island', 'NF'],
          ['Northern Mariana Isl', 'MP'],
          ['Norway', 'NO'],
          ['Oman', 'OM'],
          ['Pakistan', 'PK'],
          ['Palau', 'PW'],
          ['Panama', 'PA'],
          ['Papua New Guinea', 'PG'],
          ['Paraguay', 'PY'],
          ['Peru', 'PE'],
          ['Philippines', 'PH'],
          ['Pitcairn', 'PN'],
          ['Poland', 'PL'],
          ['Portugal', 'PT'],
          ['Puerto Rico', 'PR'],
          ['Qatar', 'QA'],
          ['Reunion', 'RE'],
          ['Romania', 'RO'],
          ['Russian Federation', 'RU'],
          ['Rwanda', 'RW'],
          ['Saint Kitts & Nevis', 'KN'],
          ['Saint LUCIA', 'LC'],
          ['Saint Vincent', 'VC'],
          ['Samoa', 'WS'],
          ['San Marino', 'SM'],
          ['Sao Tome & Principe', 'ST'],
          ['Saudi Arabia', 'SA'],
          ['Senegal', 'SN'],
          ['Seychelles', 'SC'],
          ['Sierra Leone', 'SL'],
          ['Singapore', 'SG'],
          ['Slovakia', 'SK'],
          ['Slovenia', 'SI'],
          ['Solomon Islands', 'SB'],
          ['Somalia', 'SO'],
          ['South Africa', 'ZA'],
          ['South Georgia', 'GS'],
          ['Spain', 'ES'],
          ['Sri Lanka', 'LK'],
          ['St. Helena', 'SH'],
          ['St.Pierre & Miquelon', 'PM'],
          ['Sudan', 'SD'],
          ['Suriname', 'SR'],
          ['Svalbard', 'SJ'],
          ['Swaziland', 'SZ'],
          ['Sweden', 'SE'],
          ['Switzerland', 'CH'],
          ['Syrian Arab Republic', 'SY'],
          ['Taiwan', 'TW'],
          ['Tajikistan', 'TJ'],
          ['Tanzania', 'TZ'],
          ['Thailand', 'TH'],
          ['Togo', 'TG'],
          ['Tokelau', 'TK'],
          ['Tonga', 'TO'],
          ['Trinidad and Tobago', 'TT'],
          ['Tunisia', 'TN'],
          ['Turkey', 'TR'],
          ['Turkmenistan', 'TM'],
          ['Turks & Caicos Isl.', 'TC'],
          ['Tuvalu', 'TV'],
          ['Uganda', 'UG'],
          ['Ukraine', 'UA'],
          ['United Arab Emir.', 'AE'],
          ['United Kingdom', 'GB'],
          ['United States', 'US'],
          ['United States Minor', 'UM'],
          ['Uruguay', 'UY'],
          ['Uzbekistan', 'UZ'],
          ['Vanuatu', 'VU'],
          ['Venezuela', 'VE'],
          ['Viet Nam', 'VN'],
          ['Virgin Islands (Brit)', 'VG'],
          ['Virgin Islands (U.S.)', 'VI'],
          ['Wallis & Futuna Isl.', 'WF'],
          ['Western Sahara', 'EH'],
          ['Yemen', 'YE'],
          ['Yugoslavia', 'YU'],
          ['Zambia', 'ZM'],
          ['Zimbabwe', 'ZW']], '0'), :class => "select2 form-control input-transparent" ,:size =>"20") %>
        <%= f.text_field :shipping_telephone,:class=>' form-control',:maxlength=>50,:placeholder=>d4x_sanitizer(t('shipping telephone')) %>
      <%= f.text_area :customer_notes,:class=>'form-control',:size=>"100x5",:placeholder=>d4x_sanitizer(t('notes for delivery')) %>
    </p>
  <% end %>
  <h5 align="center"><%= check_box_tag :agreement,nil,false  %> &nbsp;<%= link_to d4x_sanitizer(t("i agree with terms and conditions")),"/terms"%></h5>
  <br />
  <p class="center">
    <%= f.submit d4x_sanitizer(t('place order')),:class=>'btn btn-outline-primary',:id=>"place-order" %>
  </p>
<% end %>
