<% content_for :head do %>
<% end %>

<%= render :partial =>'/orders/summary' %>
<br />	
<p align="center">			
	<%= form_tag "https://www.paypal.com/cgi-bin/webscr" do %>
		<%= hidden_field_tag :cmd,"_s-xclick" %>	
		<%= hidden_field_tag :encrypted,@cart.paypal_encrypted(orders_url, payment_notifications_url(:secret =>"1394807388")) %>	
		<%= image_submit_tag('express-checkout-hero-sg.png',:width=>"290px") %>
	<% end %>
</p>
