
<script language="JavaScript">
  $( document ).ready(function() {
    $('#main-menu-social').addClass("navigation__sub--active navigation__sub--toggled");
    $('#menu-invitations').removeClass("navigation__sub").addClass("navigation__active");
  });
</script>
<h4 class="card-title bluesocial"><i class="zmdi zmdi-inbox bluesocial"></i> <%= label_tag(t("sent invitations"),nil,:class=>'' )%></h4>
<h6 class="card-subtitle"></h6>
<div class="listview listview--hover">
  <% unless @invitations.blank? %>
      <% @invitations.each do |invitation| %>
          <a href="" class="listview__item traspa">
            <% if invitation.user.avatar(:thumb).present? %>
              <img class="listview__img" src="<%= invitation.user.avatar.url(:thumb) %>" alt="">
            <% else %>
              <img class="listview__img" src="/assets/demo/img/profile-pics/1.jpg" alt="">
            <% end %>
            <div class="listview__content">
              <div class="listview__heading">
                <%= label_tag "@"+user_nick(invitation.user_id),nil,{:class=>'orange'} %>&nbsp;
                <%= t("has invited") %>&nbsp;
                <%= label_tag (invitation.recipient_email.downcase),nil,{:class=>'grey'} %>
                <small class="pull-right">
                  <%= time_ago_in_words_converter(invitation.created_at) %>&nbsp;<%= t('ago') %>

                  <%= button_to invitation,:class=>"btn btn-sm btn-outline-warning",:method => :delete,:title=>t('cancel invitation'),:confirm => t('Are you sure you want to cancel this invitation?') do %>
                      <%= t('cancel invitation') %>
                  <% end %>
                </small>
                <br>
                <%= t("stato") %>
                <%= label_tag invitation_is_accepted(invitation),nil,{:class=>'lcd lightlime'} %>
              </div>
            </div>
          </a>
      <% end %>
  <% end %>
</div>

<%= content_for :rightside_title do %>
  <%= t("send invitation!") %>
<% end %>

<%= content_for :rightside_subtitle do %>
    <%= t("invite a friend") %>
<% end %>

<%= content_for :rightside_content do %>
    <%= form_for(@invitation) do |f| %>
      <% if @invitation.errors.any? %>
        <p align="center"><strong class="error-counter"><%= pluralize(@invitation.errors.count, d4x_sanitizer(t("error"))) %> :</strong></p>
        <% @invitation.errors.full_messages.each do |msg| %>
          <li><%= d4x_sanitizer(msg) %></li>
        <% end %>
      <% end %>
      <p align="center">
        <%= label_tag(t("from"),nil,:class=>'grey' )%>	<%= label_tag(current_user.firstname,nil,:class=>'grey')%>
        <br />
        <%= f.text_field :subject ,:class=>'form-control center',:placeholder=>d4x_sanitizer(t("fullname")) %>
        <br />
        <%= f.email_field :recipient_email,:class=>'form-control center',:placeholder=>d4x_sanitizer(t("email")) %>
      </p>
      <p align="center"><%= f.submit d4x_sanitizer(t('send')) ,:class=>'btn btn-outline-primary block full-width m-b' %></p>
    <% end %>
    <br>
    <br>
    <h5><%= t("invites") %></h5>
    <%= form_for(@user, :html => { :multipart => true })  do |f| %>
        <p align="left"><%= t("invitations list")%></p>
        <br>
        <%= hidden_field_tag :import,:invitations %>
        <p align="center">
          <%= f.file_field :invitations_list,:class=>'btn btn-outline-primary block full-width m-b' %>
        </p>
        <p align="center"><%= f.submit d4x_sanitizer(t('upload')),:class=>'btn btn-outline-primary block full-width m-b' %></p>
    <% end %>
<% end %>