 <% @links.each do |link| %>
<div id="link-box">
	<div id="link-box-title">
		<div id="evo-card-icon">
			<%= image_tag "card-icon-links.gif",:size => "24x24",:alt => "cool link!" %> 						
		</div>
		<div id="link-card-title">
			<%= link.name %>					
		</div>
		<div id="evo-card-actions">
			
		</div>
	</div>
	<table id="single-link">
			<tr>
				
				<td class="d4x-title2"><%= link.description %></td>
				
			</tr>
			<tr>
				<td class "d4x-tab-row-spacer"></td>
			</tr>
			<tr>
				
				<td class="d4x-title1"><%= link_to link.url, link.url,:target => link.target %></td>
			
			</tr>
			<tr>
				<td class "d4x-tab-row-spacer">&nbsp;</td>
			</tr>
			<tr>
				<td class="d4x-title1">
					<div id="snapshot-link">
						<%= image_tag link.image.url,:size =>"290x170" %>
					</div>
				</td>
			</tr>
			<tr>
				<td class "d4x-tab-row-spacer">&nbsp;</td>
			</tr>
			<tr>
				<td class="d4x-title3"><div id="summary-content"><%= raw(link.notes) %></div></td>
			</tr>
			
			<tr>
				<td class "d4x-tab-row-spacer">&nbsp;</td>
			</tr>
			<tr>
				<td class="d4x-title1"></td>
			</tr>
			<tr>
				<td class "d4x-tab-row-spacer">&nbsp;</td>
			</tr>
		</table>
		<div id="pagination">
			<%= will_paginate @links,:param_name => 'link_page' %>
		</div>
		
</div><!--NEW CARD1 -->
<% end %>
