<script language="JavaScript">
    $( document ).ready(function() {
        $('#main-menu-social').addClass("navigation__sub--active navigation__sub--toggled");
        $('#menu-pictures').removeClass("navigation__sub").addClass("navigation__active");

        $('.deletepic').click(function(){
            var id = $(this).attr('id');
            $(this).parent('span').next('#stoca').remove();
            $(this).remove();
            $.ajax({
                type: 'DELETE',
                beforeSend: function(xhr){
                    xhr.setRequestHeader('X-CSRF-Token',$('meta[name="csrf-token"]').attr('content'))
                },
                cache: false,
                url: '/pictures/' + id,
                success: function(data){
                    alert('ok');

                }

            });
        });


    });
</script>

<div class="content__inner">
  <h4 class="card-title bluesocial"><i class="zmdi zmdi-accounts-list bluesocial"></i>&nbsp;<%= t("pictures") %>&nbsp;(<%= @pictures.count.to_s %>)</h4>
  <h4 class="card-title">Drag and drop file to upload</h4>
  <%= form_for(Picture.new, html: { multipart: true, class: "dropzone dz-clickable", id: "dropzone-upload"}) do |f|  %>
    <div class="dz-default dz-message">
      <span>-> Drop files here <-</span>
    </div>
  <% end %>
  <br>
  <div class="toolbar">
    <div class="toolbar__label"><span class="hidden-xs-down">Total</span> <%=@pictures.count%> <%= t("pictures") %></div>
    <div class="actions">

      </div>

    </div>
    <div class="toolbar__search">

    </div>
  </div>

  <div class="row lightbox photos">
    <% unless @pictures.empty? %>
      <% @pictures.each do |pic| %>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <span><i class="fa fa-trash-o deletepic" id="<%= pic.id %>"></i></span>
          <a href="<%= pic.pic.url(:original) %>"  id="stoca">
            <div class="card">
              <div class="card-block">
                <div class="lightbox__item photos__item divpic center">
                  <img src="<%= pic.pic.url(:thumb) %>" class="pic" />
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>


</div>


