<% exist_option =  Option.where(:name=>'HOME_PAGE_SHOW_RECENT_BLOG').count %>
<% @option  = Option.where(:name=>'HOME_PAGE_SHOW_RECENT_BLOG').first.value if exist_option > 0%>
<% if @option == "Y" %>
	<% exist_quanti =  Option.where(:name=>'HOME_PAGE_RECENT_BLOG_COUNT').count %>
	<% @quanti =  Option.where(:name=>'HOME_PAGE_RECENT_BLOG_COUNT').first.value if exist_quanti %>
	<% quanti = 10 if @quanti.blank? %>
	<% @recents = Post.where(:status => 'publish',:content_type => 'post').limit(@quanti).order(:published).reverse_order %>
      
		<div id="top-dx-home-page">
			<div id="d4x-title-evo2">
				<div id="evo-card-icon">
					<%= image_tag("note.png", :border =>0, :mouseover => "note.png", :title =>"blog",:size => "16x16" ) %>
				</div>
				<div id="d4x-title-evo">
					<%= t("recent posts") %>
				</div>
			</div>
				
			<table width="100%" class="d4x-grid">
				<% @recents.each do |post| %>
			    <tr class="<%= cycle("odd","even")%> d4x-row-grid">
			   			<td width="1%" class="different-title1">&nbsp;</td>
						<td width="20%">
								<%= post.published.strftime("%Y-%m-%d")  if not post.published.blank? %>
						</td>
						<td width="58%"><%= link_to post.title,post %></td>
						<td width="20%" class="different2"><%= User.find(post.author).nickname %></td>
						<td width="1%">&nbsp;</td>
			    </tr>
				<% end %>	
				 <tr>
					<td colspan="5"></td>
				</tr>
				 <tr>
					<td colspan="5"></td>
				</tr>
				 <tr>
					<td colspan="5" class="center"><%= link_to t("view all"), posts_url %></td>
				</tr>
			</table>
		</div>
<% end %>
