<script language="JavaScript">
  $( document ).ready(function() {

    $('#icon-compose-new').css('color','grey');
    $('#icon-received').css('color','grey');
    $('#icon-sent').css('color','grey');
    $('#icon-contacts').css('color','grey');
    $('#icon-settings').css('color','#2D3736');
    $('#icon-author').css('color','grey');

  });
</script>
    <style>
    	.settings-item{
    		height:32px;
    	}
    	
    </style>
    
	<%= form_tag('savesettings') do |f| %>
    <div id="tab-settings" class="tab-pane active">
    	<% if current_user.role? :admin %>
	    	<div class="settings-item">
	            <a href="/dashboard" id="dashboard-link"><h4 align="left" class="white"><i class="fa fa-dashboard white"></i>&nbsp;&nbsp;<%= t('admin')%></h4></a>
	        </div>
        <% end %>
        
    	<div class="settings-item">
            <%= text_field_tag :title ,@blog.title,{:class=>'form-control center'}%>
        </div>	
     	<div class="settings-item">
            <h4 align="left" class="white"><i class="fa fa-user white"></i>&nbsp;&nbsp;<%= t('motto')%><%= text_field_tag :motto ,@blog.motto,{:class=>'form-control center'}%></h4>
        </div>	
	
        <div class="settings-item">
            <a href="/avatar" id="update-avi-link"><h4 align="left" class="white"><i class="fa fa-picture-o white"></i>&nbsp;&nbsp;<%= t('picture')%></h4></a>
             <%= text_field_tag :motto ,@blog.motto,{:class=>'form-control center'}%>
        </div>	
        </div><div class="settings-item">
            <a href="/setstatus"  id="set-status-link"><h4 align="left" class="white"><i class="fa fa-comment-o white"></i>&nbsp;&nbsp;Post Background</h4></a>
        </div>
        <div class="settings-item">
            <a href="/language"  id="language-link"><h4 align="left" class="white"><i class="fa fa-picture-o white"></i>&nbsp;&nbsp;Font Color</h4></a>
        <div class="settings-item">
            <a href="/setstatus"  id="set-status-link"><h4 align="left" class="white"><i class="fa fa-comment-o white"></i>&nbsp;&nbsp;Post Border Size</h4></a>
        </div>
        <div class="settings-item">
            <a href="/privacy-settings" id="set-status-link"><h4 align="left" class="white"><i class="fa fa-comment-o white"></i>&nbsp;&nbsp;Post Border Color</h4></a>
        </div>
        <div class="settings-item">
            <a href="/language"  id="language-link"><h4 align="left" class="white"><i class="fa fa-comment-o white"></i>&nbsp;&nbsp;Post Border Radius</h4></a>
        </div>	
        <br />
   		<%= button_tag :class=>'btn btn-danger btn-sm block full-width m-b' %>
     <% end %>   
  	</div>