<div id="big-card">
		<div id="big-card-title">
			<div id="evo-card-icon">
				<%= link_to image_tag("lightbulb.png", :border =>0, :mouseover => "bulb.png", :title => t("icon-quotes") ), new_quote_type_path %>
			</div>
			<div id="d4x-title-evo">
				<%= d4x_sanitizer(t("Types of Quote")) %>
			</div>
		</div>
		<table width="100%" class="d4x-grid">
	   	  <tr class="d4x-grid-title">
		  	<th class="td-grid-tit"></th>
		    <th class="td-grid-tit lcd"><%=d4x_sanitizer(t('type_of_quote')) %></th>
		    <th class="td-grid-tit lcd"><%=d4x_sanitizer(t('visible')) %></th>
		    <th class="td-grid-tit lcd"><%=d4x_sanitizer(t('created')) %></th>
		    <th class="td-grid-tit"></th>
		    <th class="td-grid-tit"></th>
		    <th class="td-grid-tit"></th>
		    <th class="td-grid-tit"></th>
		  </tr>
		 <% @quote_types.each do |quote_type| %>
		   <tr class="<%= cycle("odd","even")%> d4x-row-grid">
	    	<td class="td-grid-data" width="2%">&nbsp;</td>
		    <td class="td-grid-data"><%= quote_type.type_of_quote %></td>
		    <td class="td-grid-data"><%= quote_type.visible %></td>
		    <td class="td-grid-data"><%= quote_type.created_at %></td>
		    
		    <td>
				<%= link_to image_tag("plugin.png", :border =>0 , :mouseover => "plugin.png", :title => d4x_sanitizer(t("icon-show")) ,:size => "16x16"), quote_type %>
		 	</td>
			<td>
				<% if current_user.role? :operator  %>
					<%= link_to image_tag("plugin_edit.png", :border =>0, :mouseover => "plugin_edit.gif", :title => d4x_sanitizer(t("icon-edit")),:size => "16x16" ), edit_quote_type_path(quote_type) %>
				<% end %>
			</td>
		    <td>
		    	<% if current_user.role? :operator  %>
						<%= button_to "", quote_type, :confirm => 'are you sure?', :method => :delete, :class => 'pdestroy',:name => 'destroy',:size => "16x16" %>
				<% end %>
			</td>
				<td class="td-grid-data" width="2%">&nbsp;</td>
		  </tr>
		<% end %>
		</table>
		<div id="paginator">
			
		</div>
</div>