<%= content_for :head do %>
<% end %>

<%= content_for :big_icons_menu do %>
	<%= render :partial => "big_icons_some_active" %>
<% end %>

<%= content_for :folders_list do %>
		<%= render :partial => "no_folder_selected" %>
<% end %>

<%= form_for(@user) do |f| %>
	
<div id="settings-pane">
	<div id="center-content4" class="left">
			<br />
			<div id="agadanga-custom-theme">	
				<%= label_tag d4x_sanitizer(t("choose your favourite theme")),nil,{:class=>'lcd orange left'} %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= f.select(:theme,options_for_select([['tradizional agadanga', 'agadanga']],0)) %>
    		</div>	
			<br />
			<div id="agadanga-set-language">
				<%= label_tag d4x_sanitizer(t("current language")),nil,{:class=>'lcd orange left'} %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= label_tag current_user.locale.to_s,nil,{:class=>'lcd yellow center'} %>&nbsp;
				<%= image_tag current_user.locale.to_s.downcase+".png" ,:class=>'middle'%>
				<br />
				<br />
				<%= label_tag d4x_sanitizer(t("choose your language")),nil,{:class=>'lcd orange left'} %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<%= f.select(:locale, options_for_select([['English', 'en'], ['Italian', 'it'],
				['Spanish', 'sp'], ['Portuguese', 'pt'],['German', 'de'], ['French', 'fr'],
				['Russian', 'ru'],['Dutch', 'nl'],['Chinese', 'cn'],['Swedish', 'se']], current_user.locale)) %>
			</div>
			 <br>
			 	<%= f.submit d4x_sanitizer(t('save settings')),:class=>'button-d4x'%>
	        <br>
			 <br>
			 <br>
			 <br>
			
      </div>
</div>
<% end %>
