<%= form_for(@mail_account) do |f| %>
  <% if @mail_account.errors.any? %>
     <div  id="login-messages" class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
			<p align="center">
			<strong class="error-counter"><%= pluralize(@mail_account.errors.count, t("error")) %> :</strong> </p>
			 <div id="error-list">
				 <% @mail_account.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      <br />
		      </div>
		</div>
	</div>
	<br />
  <% end %>
	<%= content_for :head do %>
		<%= javascript_include_tag 'd4x-mail-accounts' %>
	<% end %>
<div id="center-container">
		<div id="center-content">
			<br><br />
		  <div class="field">
		    <%= f.label t("from name"),:class=>"show-item-label" %><br />
		    <%= f.text_field :name ,:size => 60, :class=>"thin-control" %>
		  </div><br>
		  <div class="field">
		    <%= f.label t(:password),:class=>"show-item-label" %><br />
		    <%= f.password_field :password ,:size => 60, :class=>"thin-control" %>
		  </div><br>
		  <div class="field">
		    <%= f.label t(:password),:class=>"show-item-label" %><br />
		    <%= f.password_field :password ,:size => 60, :class=>"thin-control" %>
		  </div><br>
		   <div class="actions">
		    <%= f.submit :class=>'button-d4x' %>
		  </div>
		  <br>
		</div>
</div>
<% end %>
<div id="paginator"></div>
