<%= content_for :head do %>

<% end %>

<%= content_for :big_icons_menu do %>
	<%= render :partial => "/agadanga/big_icons_some_active" %>
<% end %>

<%= content_for :folders_list do %>
		<%= render :partial => "/agadanga/no_folder_selected" %>
<% end %>
<div id="settings-pane">
<div id="center-content2">
	<div class="left">
		<%= render 'form' %>
		</div>
</div>
</div>